<div id="BillingTab" class="profile-tab collapse">
  <h1 class="tab-header">Billing</h1>
  <div class="row info-component">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>Payment Method</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>
          <strong>
            <span id="PaymentMethodField">None</span>
          </strong>
        </span>
      </div>
    </div>
    <div class="col-md-3 d-md-block d-none">
      <div class="vertically-centered text-right">
        <span class="text-primary info-action-link">Manage Payment Method</span>
      </div>
    </div>
    <i class="fas fa-edit d-md-none d-block resp-modify vertically-centered" title="Manage Payment Method"></i>
  </div>
  <h1 class="tab-header">History</h1>
  <div class="row info-component-history-subHeader">
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>Date</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>Description</span>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>Amount</span>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered resp-sm-text-right">
        <span>Invoices</span>
      </div>
    </div>
  </div>
  <div class="row info-component">
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span class="entry-date">Dec 4,2020</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
      <div class="vertically-centered">
        <strong>
          <span class="entry-plan">Slide.Ai Pro Plan</span>
        </strong>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span class="entry-invoice">USD 39.00</span>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered resp-sm-text-right">
        <span class="text-primary info-action-link">Get Invoice</span>
      </div>
    </div>
  </div>
  <div class="row info-component">
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span class="entry-date">May 12,2020</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
      <div class="vertically-centered">
        <strong>
          <span class="entry-plan">Slide.ai Basic Plan</span>
        </strong>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span class="entry-invoice">USD 25.00</span>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered resp-sm-text-right">
        <span class="text-primary info-action-link">Get Invoice</span>
      </div>
    </div>
  </div>
  <div class="row info-component">
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span class="entry-date">Feb 1,2020</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
      <div class="vertically-centered">
        <strong>
          <span class="entry-plan">Slide.ai Pro Plan</span>
        </strong>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span class="entry-invoice">USD 34.00</span>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered resp-sm-text-right">
        <span class="text-primary info-action-link">Get Invoice</span>
      </div>
    </div>
  </div>
  <div class="row info-component">
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span class="entry-date">Dec 21,2019</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
      <div class="vertically-centered">
        <strong>
          <span class="entry-plan">Slide.ai Pro Plan</span>
        </strong>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span class="entry-invoice">USD 27.00</span>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered resp-sm-text-right">
        <span class="text-primary info-action-link">Get Invoice</span>
      </div>
    </div>
  </div>
</div>
