{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Account{% endtrans %}
{% endblock %}

{% block style %}
  {{parent()}}
  {{ encore_entry_link_tags('user_account') }}
{% endblock %}

{% block body %}

  <div class="row m-0">
    <div class="col-12 col-md-3 mt-5">
      {% include "account/menu.html.twig" %}
    </div>
    <div class="col-12 col-md-9">
      <div id="ProfileTabContentMain">

        {% include "account/my_presentations.html.twig" %}

        {% include "account/profile.html.twig" %}

        {% include "account/plans.html.twig" %}

        {% include "account/billing.html.twig" %}

        {% include "account/notifications.html.twig" %}

      </div>
    </div>
  </div>


{% endblock %}
{% block script %}
  {{parent()}}{{ encore_entry_script_tags('user_account') }}
{% endblock %}
