<div id="profileMenu" class="">
  <a id="PresentationsLink" class="profile-screen-link active" href="#">
    <i class="fas fa-images mr-2"></i>My Presentations
  </a>
  <a id="ProfileLink" class="profile-screen-link" href="#">
    <i class="fas fa-user mr-2"></i>Profile
  </a>
  <a id="PlanLink" class="profile-screen-link d-none" href="#">
    <i class="fas fa-check-circle mr-2"></i>Plan
  </a>
  <a id="BillingLink" class="profile-screen-link d-none" href="#">
    <i class="fas fa-money-bill mr-2"></i>Billing
  </a>
  <a id="EmailLink" class="profile-screen-link" href="#">
    <i class="fas fa-envelope mr-2"></i>Notifications
  </a>
  <a id="Logout" class="text-danger mt-2" href="{{path('app_logout')}}">Logout
  </a>
</div>
