{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Account_Log_in{% endtrans %}
{% endblock %}


{% block body %}
  <footer class="footer mt-0">
    <div class="footer_top px-0 mt-0">
      <div class="container">
        <div class="dir-rtl row justify-content-center gallery-item">
          <div class="col-12 p-5">
            <p style="text-align:center">
            </p>
            <h1 class="text-center">{% trans %}Account_Log_in{% endtrans %}</h1>
            <p class="text-center">{% trans %}Subtitle_Account_Log_in{% endtrans %}</p>
          </div>

          {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            <div class="col-12"></div>
          {% endif %}

{#          {% include "components/social-logins.html.twig" with {'class':'col-10 col-sm-6 col-lg-4 mb-2'} %}#}
          <div class="col-12"></div>
          <form method="post" class="col-10 col-sm-6 col-lg-4 text-center">
            <input class="form-control mb-1" type="email" name="email" value="{{last_username}}" placeholder="{% trans %}Email{% endtrans %}" required autofocus/>
            <input class="form-control mb-1" type="password" name="password" placeholder="{% trans %}Password{% endtrans %}" required/>
            <input class="form-control mb-1" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-info col-12 mt-2">{% trans %}Login{% endtrans %}</button>
            <p class=" my-2">{% trans %}Dont_have_an_account{% endtrans %}
              <a href="#" data-toggle="modal" data-target="#contact_us_modal">{% trans %}BTN_Sign_Up{% endtrans %}
              </a>

            </p>
            <a href="{{path('app_forgot_password_request')}}">
              <p class="text-danger my-2" style="font-size:0.7rem">{% trans %}Forgot_password{% endtrans %}</p>
            </a>
          </form>
          <div class="col-12"></div>
        </div>
      </div>
    </div>
  </footer>


{% endblock %}
