<ul id="SlideControlHolder" class="navbar-nav d-md-flex ml-auto d-none">
  <p id="presentation_name" title="{{presentation.title}}">{{presentation.title}}</p>
  <span id="PreviewBtn" class="mr-2"></span>
  <span id="downloadBtn" style="position:relative"></span>
</ul>
