<ul id="SlideControlHolder" class="navbar-nav d-md-flex ml-auto d-none">
  <li class="nav-item mt-auto mb-auto d-xl-inline d-none">
    <a id="ProjNameHolder" class="nav-link" href="#">
      <div class="expandable-holder">
        <input id="presentation_name" type="text" value="{{presentation.title}}" placeholder="Project Name">
        <i class="fas fa-edit text-grey"></i>
      </div>
    </a>
  </li>
  <button id="PreviewBtn" class="btn btn-secondary bevel-btn horizontal-text-clip">
    <i class="fas fa-play"></i>&nbsp;{% trans %}Preview{% endtrans %}</button>
  <a href="/editor/{{presentation.presentationId}}/download" target="_blank">
    <button id="DownloadBtn" class="btn btn-danger bevel-btn horizontal-text-clip">
      <i class="fas fa-download"></i>&nbsp;{% trans %}Download{% endtrans %}
    </button>
  </a>
</ul>
