<nav id="BrandNav" class="navbar navbar-expand-sm d-md-flex d-none">

  {% include "editor/navbar/user.html.twig" %}

  {% include "editor/navbar/status.html.twig" %}

  {% include "editor/navbar/action.html.twig" %}

  <a id="Logo" class="navbar-brand d-md-flex d-none" href="#">
    <sup class="ml-auto">BETA</sup>slideo
  </a>
</nav>
