<nav id="BrandNav" class="navbar navbar-expand-sm d-md-flex d-none">

  {% include "editor/navbar/user.html.twig" %}

  {% include "editor/navbar/status.html.twig" %}

  {% include "editor/navbar/action.html.twig" with {'presentation':presentation} %}

  <a id="Logo" class="navbar-brand d-md-flex d-none" href="/">
    <img class="contact-item" src="/img/logo/slide.ai-logo-blue.png" width="120"><sup class="ml-auto">BETA</sup>
  </a>
</nav>
