  <ul id="SlideStatusHolder" class="navbar-nav mr-auto">
    <li class="text-grey single-line">
      <i class="fas fa-check-circle"></i>
      <span class="d-xl-inline d-none">&nbsp;{% trans %}All Changes Saved{% endtrans %}</span>
    </li>
  </ul>