<ul id="SlideStatusHolder" class="navbar-nav mr-auto">

  <li class="navigate-action">
    <i class="fas fa-share fa-flip-horizontal"></i>
  </li>
  <li class="navigate-action">
    <i class="fas fa-share"></i>
  </li>
  <li class="text-grey d-xl-inline d-none mt-auto mb-auto">
    <i class="fas fa-info-circle"></i>
    <span id="status_msg">&nbsp;{% trans %}All Changes Saved{% endtrans %}</span>
  </li>
</ul>
