<div class="modal fade rtl" tabindex="-1" id="create_slide_modal" role="dialog" aria-labelledby="create_slide_modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="w-100">
        <h2 class="text-center mb-0 mt-2">
          Add a new slide
        </h2>
        {% include "editor/components/ckeditor.html.twig" %}
      </div>
    </div>
  </div>
</div>
