.opacity-slider {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    color: #fff;
    padding: 0 9px;
}

.opacity-slider label {
    margin-top: 0.5rem;
}

.opacity-slider input[type=range] {
    -webkit-appearance: none;
    outline: none;
    width: 160px;
}

.opacity-slider input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #fff;
    border: none;
    border-radius: 3px;
}
.opacity-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #FFFF;
    margin-top: -6px;
    cursor: pointer;
}

.opacity-slider i {
    font-size: 20px;
}

.opacity-slider:focus {
    border: none;
}
