{% include "editor/sidebar/buttons.html.twig" %}

<div id="ActionsPanel">
  {% include "editor/sidebar/panels/design.html.twig" %}
  {% include "editor/sidebar/panels/colors/index.html.twig" %}
  {% include "editor/sidebar/panels/images/index.html.twig" %}
  {% include "editor/sidebar/panels/icons/index.html.twig" %}
  {% include "editor/sidebar/panels/text.html.twig" %}
  {% include "editor/sidebar/panels/shapes.html.twig" %}
  {% include "editor/sidebar/panels/background.html.twig" %}
</div>
