{% include "editor/sidebar/buttons.html.twig" %}

<div id="ActionsPanel" class="no-transition">
  {% include "editor/sidebar/panels/design.html.twig" %}
  {% include "editor/sidebar/panels/colors/index.html.twig" %}
  {% include "editor/sidebar/panels/images.html.twig" %}
  {% include "editor/sidebar/panels/icons.html.twig" %}
  {% include "editor/sidebar/panels/text.html.twig" %}
  {% include "editor/sidebar/panels/shapes.html.twig" %}
  {% include "editor/sidebar/panels/background.html.twig" %}
</div>
