{% extends 'base.html.twig' %}

{% block title %}{% trans %}Title_Email_Sent_Succesfully{% endtrans %}
{% endblock %}

{% block body %}


  <footer class="footer mt-0">
    <div class="footer_top py-5 px-0 mt-0">
      <div class="container py-5">
        <div class="dir-rtl row justify-content-center gallery-item">
          <div class="col-12 p-5">
            <p style="text-align:center">
            </p>
            <h1 class="text-center">{% trans %}Title_Email_Sent_Succesfully{% endtrans %}</h1>
          </div>

          <p>{% trans %}Text_Email_Sent_Succesfully{% endtrans %} {{ tokenLifetime|date('g') }} {% trans %}Text_hour{% endtrans %}</p>
          <p>{% trans %}Text_Email_Link_Expire{% endtrans %} <a href="{{ path('app_forgot_password_request') }}">{% trans %}Text_Try_Again{% endtrans %}</a>.</p>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}
