{% extends "emails/base.html.twig" %}

{% block title %}Reset Password
{% endblock %}

{% block body %}
  <h1>Hi!</h1>

  <p>
    To reset your password, please visit
    <a href="https://www.slideo.co.il/reset-password/reset/{{ resetToken.token }}">here</a>
    This link will expire in
    {{ tokenLifetime|date('g') }}
    hour(s)..
  </p>

  <p>
    Cheers!
  </p>
{% endblock %}
