{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
  <footer class="footer mt-0">
    <div class="footer_top px-0 mt-0">
      <div class="container">
        <div class="dir-rtl row justify-content-center gallery-item">
          <div class="col-12 p-5">
            <p style="text-align:center">
            </p>
            <h1 class="text-center">{% trans %}Title_Reset_Password{% endtrans %}</h1>
          </div>

          {% if app.request.hasPreviousSession %}
            {% for flashError in app.flashes('reset_password_error') %}
              <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
          {% endif %}
          {{ form_start(requestForm, {'attr': {'class': 'col-10 col-sm-6 col-lg-4 text-center'}})  }}
          {{ form_row(requestForm.email, {'attr': {'class': 'form-control mb-1'}}) }}
          <div>
            <small>{% trans %}Text_Enter_your_Email{% endtrans %}
            </small>
          </div>
          <button type="submit" class="btn btn-info col-12 mt-2">{% trans %}BTN_Send_Password_Reset_Email{% endtrans %}</button>

          {{ form_end(requestForm) }}

        </div>
      </div>
    </div>
  </footer>
{% endblock %}
