{% extends 'base.html.twig' %}
{% block title %}Smart Predictive Policing
{% endblock %}


{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area slider_bg_2" style="padding-top: 150px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <div class="d-inline-block p-5" style="border-radius:50%; background-color:rgba(255,255,255,0.7)">
                            <img src="/img/solutions/pre.png" alt="" width="200px">
                        </div>
                        <h2 class="text-white pt-5">Transforms big data into safety & security</h2>
                        <p onclick='$("#intro_video").modal("show")' style="cursor:pointer;display:inline"><i class="fas fa-play-circle"></i> See the trailer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <h1 class="text-center py-5 my-5">Features</h1>
    <div class="about_wrap_area py-5" style="background-color: gray;">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center py-3" style="height: 100%">
                        <i class="fas fa-chart-bar text-white" style="font-size: 3rem;"></i>
                        <h3>Graphs</h3>
                        <p>Visualized semantic relationships among data (Predictive risk ratings, real-time status info)</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center py-3" style="height: 100%">
                        <i class="fas fa-map-marked-alt text-white" style="font-size: 3rem;"></i>
                        <h3>Maps</h3>
                        <p>Tracking geo-located objects/incidents and heatmaps</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center py-3" style="height: 100%">
                        <i class="fas fa-search text-white" style="font-size: 3rem;"></i>
                        <h3>Explorer</h3>
                        <p>Query of objects/events/actors/factors and receive results in max 5 seconds</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center py-3" style="height: 100%">
                        <i class="fas fa-chart-line text-white" style="font-size: 3rem;"></i>
                        <h3>Predictive and Prescriptive Analytics</h3>
                        <ul class="unordered-list text-white text-left" style="font-size: 14px">
                            <li style="color: #D5D5D5">Smart pre-emptive responses to emerging threats and risk hubs</li>
                            <li style="color: #D5D5D5">Automated alerts for early warning and reasoning for expected outcomes (counter campaigns)</li>
                            <li style="color: #D5D5D5">Accuracy of occurrence (Weapon and attack type, group name, geocoding, target type, vicinity, proactively patrolling time and sites) </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center py-3" style="height: 100%">
                        <i class="fas fa-tasks text-white" style="font-size: 3rem;"></i>
                        <h3>Case Management</h3>
                        <ul class="unordered-list text-white text-left" style="font-size: 14px">
                            <li style="color: #D5D5D5">Decision-making support to develop counter campaigns/strategies</li>
                            <li style="color: #D5D5D5">Network Construction</li>
                            <li style="color: #D5D5D5">Behavioral pattern analyses and cognitive perspective of terrorist/radical groups and their leaders; and vulnerable groups</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Video Area -->
    <div class="modal fade" id="intro_video" tabindex="-1" role="dialog" aria-labelledby="intro_video" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" data-target="#intro_video">
                    <span aria-hidden="true">&times;</span>
                </button>
                <iframe id="youtube_video" width="720" height="420" src="https://www.youtube.com/embed/J080ad0jsxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- End Video Area -->

{% endblock %}