<div id="Section_About" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-12 no-padding centered-contents">
        <h1 class="section-header medium-bottom-margin centered-contents">{% trans %}About Us{% endtrans %}</h1>
        <p class="opening-paragraph medium-top-margin medium-bottom-margin">{% trans %}We're a self-funded Technology startup based in Israel. We think easy-to-use presentation editing should be available to everyone. That's why we have a free plan! If you don't like our extras, our monthly plans can be cancelled at
                                  any time. What's more, our servers run on 100% Renewable Energy, so you don't have to worry about the environmental impact. We've done that for you.{% endtrans %}</p>
        <button type="button" class="btn no-padding text-dark medium-top-margin">Try Now
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
