<div id="Section_About" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="rtl-center offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-12 no-padding centered-contents">
        <h1 class="section-header medium-bottom-margin centered-contents">{% trans %}About_us_Title{% endtrans %}</h1>
        <p class="opening-paragraph medium-top-margin medium-bottom-margin">{% trans %}About_us_Description{% endtrans %}
        </p>
      </div>
    </div>
  </div>
</div>
