<div id="Main_FEATURE_1" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
        <div class="col-md-5 col-12 d-md-block d-none no-padding centered-contents medium-bottom-margin">
          <img class="feature-image vertically-centered" src="/img/EZ2USE.jpg" alt="">
        </div>
        <div class="rtl align-self-center offset-1 col-md-6 col-12 no-padding medium-bottom-margin align-middle">
          <div class="vertically-centered medium-bottom-margin">
            <h1 class="section-header">{% trans %}Feature_1_Title{% endtrans %}</h1>
            <p class="opening-paragraph justified-text medium-bottom-margin">{% trans %}Feature_1_Description{% endtrans %}</p>
            <div class="col-12 centered-contents medium-bottom-margin">
              <a href="{{path('editor')}}">
                <button type="button" class="btn-feature">{% trans %}BTN_Try_Now{% endtrans %}
                  <i class="fas fa-arrow-left"></i>
                </button>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div id="Main_FEATURE_2" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="rtl align-self-center col-md-6 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">{% trans %}Feature_3_Title{% endtrans %}</h1>
          <p class="opening-paragraph justified-text">{% trans %}Feature_3_Description{% endtrans %}</p>
            <div class="col-12 centered-contents medium-bottom-margin">
              <a href="{{path('editor')}}">
                <button type="button" class="btn-feature">{% trans %}BTN_Try_Now{% endtrans %}
                  <i class="fas fa-arrow-left"></i>
                </button>
              </a>
            </div>
        </div>
      </div>
      <div class="offset-md-1 col-md-5 col-12 d-md-block d-none no-padding centered-contents medium-bottom-margin">
        <img class="feature-image vertically-centered" src="/img/FilesStorage.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div id="Main_FEATURE_3" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-md-5 col-12 no-padding medium-bottom-margin">
        <img class="fully-centered feature-image" src="/img/SimplePowerful.jpg" alt="">
      </div>
      <div class="rtl align-self-center offset-md-1 col-md-6 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">{% trans %}Feature_2_Title{% endtrans %}</h1>
          <p class="opening-paragraph justified-text medium-bottom-margin">{% trans %}Feature_2_Description{% endtrans %}</p>
                      <div class="col-12 centered-contents medium-bottom-margin">
              <a href="{{path('editor')}}">
                <button type="button" class="btn-feature">{% trans %}BTN_Try_Now{% endtrans %}
                  <i class="fas fa-arrow-left"></i>
                </button>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Main_FEATURE_4" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="rtl align-self-center col-md-6 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">{% trans %}Feature_4_Title{% endtrans %}</h1>
          <p class="opening-paragraph justified-text medium-bottom-margin">{% trans %}Feature_4_Description{% endtrans %}</p>
                      <div class="col-12 centered-contents medium-bottom-margin">
              <a href="{{path('editor')}}">
                <button type="button" class="btn-feature">{% trans %}BTN_Try_Now{% endtrans %}
                  <i class="fas fa-arrow-left"></i>
                </button>
              </a>
            </div>
        </div>
      </div>
       <div class="offset-1 col-md-5 col-12 no-padding medium-bottom-margin">
        <img class="fully-centered feature-image" src="/img/Collaborate.jpg" alt="">
      </div>
    </div>
  </div>
</div>
</div>


<!-- <div id="Section_Tools" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-lg-8 col-12 no-padding">
        <h1 class="section-header vertically-centered">Your presentation creative toolbox</h1>
      </div>
      <div class="col-12 no-padding medium-top-margin medium-bottom-margin">
        <div class="tool-set">
          <div class="tool-item">
            <p class="tool-text">Unlimited Templates</p>
            <p class="tool-icon">
              <i class="fas fa-sliders-h"></i>
            </p>
          </div>
          <div class="tool-item">
            <p class="tool-text">Layouts Selector</p>
            <p class="tool-icon">
              <i class="fas fa-list-alt"></i>
            </p>
          </div>
          <div class="tool-item">
            <p class="tool-text">Amazing Icons</p>
            <p class="tool-icon">
              <i class="fas fa-images"></i>
            </p>
          </div>
          <div class="tool-item">
            <p class="tool-text">Stunning Images</p>
            <p class="tool-icon">
              <i class="fas fa-image"></i>
            </p>
          </div>
          <div class="tool-item">
            <p class="tool-text">Text Editor</p>
            <p class="tool-icon">
              <i class="fas fa-magic"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->