<div id="Main_FEATURE_1" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-md-5 col-12 d-md-block d-none no-padding centered-contents medium-bottom-margin">
        <img class="feature-image vertically-centered" src="/img/1-content.gif" alt="">
      </div>
      <div class="rtl align-self-center offset-1 col-md-6 col-12 no-padding medium-bottom-margin align-middle">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">{% trans %}Feature_1_Title{% endtrans %}</h1>
          <p class="opening-paragraph justified-text medium-bottom-margin">{% trans %}Feature_1_Description{% endtrans %}</p>
          <div class="col-12 centered-contents medium-bottom-margin">
            <a href="{{path('editor')}}">
              <button type="button" class="btn-feature">{% trans %}BTN_Try_Now{% endtrans %}
                <i class="fas fa-arrow-left"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Main_FEATURE_2" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="rtl align-self-center col-md-6 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">{% trans %}Feature_3_Title{% endtrans %}</h1>
          <p class="opening-paragraph justified-text">{% trans %}Feature_3_Description{% endtrans %}</p>
          <div class="col-12 centered-contents medium-bottom-margin">
            <a href="{{path('editor')}}">
              <button type="button" class="btn-feature">{% trans %}BTN_Try_Now{% endtrans %}
                <i class="fas fa-arrow-left"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="offset-md-1 col-md-5 col-12 d-md-block d-none no-padding centered-contents medium-bottom-margin">
        <img class="feature-image vertically-centered" src="/img/2-account-min.png" alt="">
      </div>
    </div>
  </div>
</div>

<div id="Main_FEATURE_3" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-md-5 col-12 no-padding medium-bottom-margin">
        <img class="fully-centered feature-image" src="/img/3-design.gif" alt="">
      </div>
      <div class="rtl align-self-center offset-md-1 col-md-6 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">{% trans %}Feature_2_Title{% endtrans %}</h1>
          <p class="opening-paragraph justified-text medium-bottom-margin">{% trans %}Feature_2_Description{% endtrans %}</p>
          <div class="col-12 centered-contents medium-bottom-margin">
            <a href="{{path('editor')}}">
              <button type="button" class="btn-feature">{% trans %}BTN_Try_Now{% endtrans %}
                <i class="fas fa-arrow-left"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Main_FEATURE_4" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="rtl align-self-center col-md-6 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">{% trans %}Feature_4_Title{% endtrans %}</h1>
          <p class="opening-paragraph justified-text medium-bottom-margin">{% trans %}Feature_4_Description{% endtrans %}</p>
          <div class="col-12 centered-contents medium-bottom-margin">
            <a href="{{path('editor')}}">
              <button type="button" class="btn-feature">{% trans %}BTN_Try_Now{% endtrans %}
                <i class="fas fa-arrow-left"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="offset-1 col-md-5 col-12 no-padding medium-bottom-margin">
        <img class="fully-centered feature-image" src="/img/4-colors.gif" alt="">
      </div>
    </div>
  </div>
</div></div>
