<div id="Feat_EZ2USE" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-md-5 col-12 d-md-none d-block no-padding centered-contents medium-bottom-margin">
        <img class="feature-image vertically-centered" src="/img/EZ2USE.jpg" alt="">
      </div>
      <div class="col-md-5 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">{% trans %}Easy to Use{% endtrans %}</h1>
          <p class="opening-paragraph justified-text medium-bottom-margin">{% trans %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec tellus sed nunc vestibulum consequat a sed nunc. Integer facilisis posuere orci at dapibus. Ut vestibulum porttitor mauris, nec eleifend enim luctus in. {% endtrans %}</p>
          <button type="button" class="btn no-padding text-dark medium-top-margin d-lg-block d-none">{% trans %}Try Now{% endtrans %}
            <i class="fas fa-arrow-right"></i>
          </button>
          <div class="centered-contents d-lg-none md-block">
            <button type="button" class="btn no-padding text-dark medium-top-margin">{% trans %}Try Now{% endtrans %}
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="offset-md-2 col-md-5 col-12 d-md-block d-none no-padding centered-contents medium-bottom-margin">
        <img class="feature-image vertically-centered" src="/img/EZ2USE.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div id="Feat_SimplePowerful" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-md-5 col-12 no-padding medium-bottom-margin">
        <img class="fully-centered feature-image" src="/img/SimplePowerful.jpg" alt="">
      </div>
      <div class="offset-md-2 col-md-5 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">Simple yet powerful</h1>
          <p class="opening-paragraph justified-text medium-bottom-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec tellus sed nunc vestibulum consequat a sed nunc. Integer facilisis posuere orci at dapibus. Ut vestibulum porttitor mauris, nec eleifend enim luctus in.</p>
          <button type="button" class="btn no-padding text-dark medium-top-margin d-lg-block d-none">Try Now
            <i class="fas fa-arrow-right"></i>
          </button>
          <div class="centered-contents d-lg-none md-block">
            <button type="button" class="btn no-padding text-dark medium-top-margin">Try Now
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Section_Tools" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-lg-8 col-12 no-padding">
        <h1 class="section-header vertically-centered">Your presentation creative toolbox</h1>
      </div>
      <div class="col-lg-4 col-12 no-padding text-lg-left text-center medium-bottom-margin">
        <button type="button" class="btn btn-outline-dark medium-top-margin float-lg-right float-none">See all tools</button>
      </div>
      <div class="col-12 no-padding medium-top-margin medium-bottom-margin">
        <div class="tool-set">
          <div class="tool-item">
            <p class="tool-text">Unlimited Templates</p>
            <p class="tool-icon">
              <i class="fas fa-sliders-h"></i>
            </p>
          </div>
          <div class="tool-item">
            <p class="tool-text">Layouts Selector</p>
            <p class="tool-icon">
              <i class="fas fa-list-alt"></i>
            </p>
          </div>
          <div class="tool-item">
            <p class="tool-text">Amazing Icons</p>
            <p class="tool-icon">
              <i class="fas fa-images"></i>
            </p>
          </div>
          <div class="tool-item">
            <p class="tool-text">Stunning Images</p>
            <p class="tool-icon">
              <i class="fas fa-image"></i>
            </p>
          </div>
          <div class="tool-item">
            <p class="tool-text">Text Editor</p>
            <p class="tool-icon">
              <i class="fas fa-magic"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="Feat_FilesStorage" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-md-5 col-12 d-md-none d-block no-padding centered-contents medium-bottom-margin">
        <img class="feature-image vertically-centered" src="/img/FilesStorage.jpg" alt="">
      </div>
      <div class="col-md-5 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">All your files in one place</h1>
          <p class="opening-paragraph justified-text">Keep all your content, fonts, logos and color palletes in one place so you are always on brand. Create a workspace to keep your content organised.</p>
        </div>
      </div>
      <div class="offset-md-2 col-md-5 col-12 d-md-block d-none no-padding centered-contents medium-bottom-margin">
        <img class="feature-image vertically-centered" src="/img/FilesStorage.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div id="Feat_Collaborate" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-md-5 col-12 no-padding medium-bottom-margin">
        <img class="fully-centered feature-image" src="/img/Collaborate.jpg" alt="">
      </div>
      <div class="offset-md-2 col-md-5 col-12 no-padding medium-bottom-margin">
        <div class="vertically-centered medium-bottom-margin">
          <h1 class="section-header">All presentations. Yours forever.</h1>
          <p class="opening-paragraph justified-text medium-bottom-margin">No need to share heavy project files. Invite your team to SLIDEO and collaborate on projects together. Perfect for keeping everyone on brand, sharing files, reviewing projects (In Private Beta)</p>
        </div>
      </div>
    </div>
  </div>
</div>
