<div id="Home_Section" class="row no-margin">
  <div class="container">
    <div id="Header_Section" class="dir-rtl col-12 no-padding centered-contents">
      <h1 class="main-header medium-bottom-margin d-md-block d-none">{% trans %}Main_Header_Title{% endtrans %}</h1>
      <h3 class="medium-bottom-margin d-md-block d-none">{% trans %}Main_Header_Subtitle{% endtrans %}</h3>
      <h2 class="main-header medium-bottom-margin d-md-none d-block">{% trans %}Main_Header_Title{% endtrans %}</h2>
      <p class="medium-bottom-margin d-md-none d-block">{% trans %}Main_Header_Subtitle{% endtrans %}</p>
    </div>
    <div class="col-12 centered-contents medium-bottom-margin">
      <a href="{{path('editor')}}">
        <button type="button" class="btn">{% trans %}BTN_Try_Now{% endtrans %}
          <i class="fas fa-arrow-left"></i>
        </button>
      </a>
    </div>
    <div class="col-12 centered-contents">
      <img id="Main_Image" src="/img/Main_BG.jpg">
    </div>
  </div>

</div>
