<h6 class="text-light small-top-margin small-bottom-margin centered-contents single-line">{% trans %}Design Colors{% endtrans %}</h6>
<div class="colors-container main-colors">
  <div class="colors-container main-colors">
    <div class="color" color-name="ACCENT_1" style="background-color: #FFFFFF" data-color="#FFFFFF"></div>
    <div class="color" color-name="ACCENT_2" style="background-color: #FF0000" data-color="#FF0000"></div>
    <div class="color" color-name="ACCENT_3" style="background-color: #FFFF00" data-color="#FFFF00"></div>
    <div class="color" color-name="ACCENT_4" style="background-color: #00FFFF" data-color="#00FFFF"></div>
    <div class="color" color-name="ACCENT_5" style="background-color: #00FF00" data-color="#00FF00"></div>
    <div class="color" color-name="ACCENT_6" style="background-color: #FF00FF" data-color="#FF00FF"></div>
    <div class="color" color-name="BACKGROUND_1" style="background-color: #0000FF" data-color="#0000FF"></div>
    <div class="color" color-name="BACKGROUND_2" style="background-color: #0FF0FF" data-color="#0FF0FF"></div>
    <div class="color" color-name="TEXT_1" style="background-color: #F00F0F" data-color="#F00F0F"></div>
    <div class="color" color-name="TEXT_2" style="background-color: #AEDEBF" data-color="#AEDEBF"></div>
  </div>
</div>

<div class="template-text-container"></div>
