<div id="Colors_Panel" class="action-panel collapse">
  <div class="search-section">
    <div id="ColorTemplateSelector">
      <img id="ColorTemplateSelector_Icon" src="/Images/color_template_icon.png">
      <span id="SelectedColorTemplate_Name" class="text-grey">Light &amp; Bright</span>
      <i class="fas fa-chevron-down float-right"></i>
    </div>
    {% include "editor/sidebar/panels/colors/dropdown.html.twig" %}
  </div>
  <div class="main-section">

    {% include "editor/sidebar/panels/colors/colors.html.twig" %}

    {% include "editor/sidebar/panels/colors/color_picker.html.twig" %}

    {% include "editor/sidebar/panels/colors/new_template.html.twig" %}

  </div>
  {% if app.user %}
    <div class="control-section">
      <button class="btn btn-primary btn-sm btn-full control-button horizontal-text-clip">{% trans %}SAVE AS NEW TEMPLATE{% endtrans %}</button>
      <button id="newTemplateBtn" class="btn btn-primary btn-sm btn-full control-close-button collapse horizontal-text-clip">{% trans %}SAVE{% endtrans %}</button>
    </div>
  {% else %}
    <div class="control-section">
      <a target="_blank" href="{{path('app_login')}}" class="btn btn-primary btn-sm btn-full horizontal-text-clip">{% trans %}LOGIN TO SAVE TEMPLATE{% endtrans %}</a>
    </div>
  {% endif %}

</div>
