<div id="Icons_Panel" class="action-panel collapse">
  <div class="search-section">
    <div class="input-group">
      <input type="text" class="form-control keyword-search" placeholder="{% trans %}Search all icons{% endtrans %}">
    </div>
    <div id="Icon_keywords_list" class="keywords-list small-top-margin invisible-scrollbar dragscroll"></div>
  </div>
  <div class="main-section">
    <div id="sideBarIcons" class="images-gallery custom-scrollbar vertical-scroll">
      <div id="sideBarIconsEmpty" class="col-12">
        {% trans %}Please_Select_Icon{% endtrans %}
      </div>
    </div>
  </div>
</div>
