<div id="Icons_Panel" class="action-panel collapse">
  <div class="search-section">
    <div class="input-group mb-2">
      <input type="text" class="form-control keyword-search" placeholder="{% trans %}Search all icons{% endtrans %}">
    </div>
    <div class="row m-0 bg-white rounded">
      <div id="Icon_keywords_list" class="keywords-list col-12 m-0 p-0"></div>
      <div class="col-9 m-0 d-flex align-items-center">Icon Color</div>
      <div class="col-3 position-static pt-1" id="Icon_color"></div>
    </div>
  </div>
  <div class="main-section">
    <div id="sideBarIcons" class="images-gallery custom-scrollbar vertical-scroll">
      <div id="sideBarIconsEmpty" class="col-12">
        {% trans %}Please_Select_Icon{% endtrans %}
      </div>
    </div>
  </div>
</div>
