{% extends 'base.html.twig' %}

{% block title %}
  Blog
{% endblock %}
{% block body %}

  <div class="bradcam_area slider_bg_2" style="padding-top: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <div class="d-inline-block p-5" style="border-radius:50%; background-color:rgba(255,255,255,0.1);cursor:pointer;">
              <img src="/img/logo.png" alt="" width="200px" for="smart_sonar_demo" onclick="scroll_to(this)">
            </div>
            <h2 class="text-white pt-5">BLOG</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if posts %}
    <div class="service_area py-0 pt-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="section_title text-center">
              <br>
              <div class="row justify-content-center pb-5">
                {% for post in posts %}
                  {% include 'blog/post-card.html.twig' with {'post': post} %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}


{% endblock %}
