<div class="blog-card col-12 col-lg-4 mb-6 mb-lg-0 py-4">
  <div class="card-body border" style="min-height:300px;position:relative">
    <a href="/blog/{{ post.id }}">
      <h2 class="h5 font-weight-medium mb-3">
        {{post.title }}
      </h2>
    </a>
    <p style="word-break: break-word;" class="mb-5">{{ post.abstract | slice(0,150) }}...</p>
    <div class="d-flex justify-content-between align-items-center" style="position: absolute;bottom:20px">
      <a class="btn-link" style="color:#8d58df" href="/blog/{{ post.id }}">
        <strong>Read More</strong>
      </a>
    </div>
  </div>
</div>
