<div id="Images_Panel" class="action-panel collapse">
  <div class="search-section">
    <div class="input-group">
      <input type="text" class="form-control keyword-search" placeholder="{% trans %}Search all Images{% endtrans %}">
    </div>
    <div id="Keywords_list" class="keywords-list small-top-margin invisible-scrollbar dragscroll"></div>
  </div>
  <div class="main-section">
    <div id="sideBarImages" class="images-gallery custom-scrollbar vertical-scroll">
      <div id="sideBarImagesEmpty">
              {% trans %}Please_Select_Image{% endtrans %}
      </div>
    </div>
    <div class="control-overlay-layout closed">
      <div id="uploadUserImageArea" class="vertically-centered no-image-display centered-contents"></div>
    </div>
    <div class="backdrop-overlay-layout collapse"></div>
  </div>
  <div class="control-section">
    <button class="btn btn-primary btn-sm btn-full control-button horizontal-text-clip">{% trans %}My_Images{% endtrans %}</button>
    <button class="btn btn-danger btn-sm btn-full control-close-button collapse horizontal-text-clip">{% trans %}Cancel{% endtrans %}</button>
  </div>
</div>
