{% extends "emails/base.html.twig" %}

{% block title %}Welcome to Slideo
{% endblock %}


{% block body %}
  <h3>{{ email.toName }}</h3>
  <p>
    <code>{{ email.to[0].address }}</code>
  </p>
  <p>
    <a target="_blank" href="{{ host ~ "/verifyMail?" ~ secret.key ~ "=" ~ secret.value }}">
      Click here to verify your email
    </a>
    <br/>
    Copy and go to this url if the link above does not work.
    <br/>
    <pre>{{ host ~ "/verifyMail?" ~ secret.key ~ "=" ~ secret.value }}</pre>
    <br/>
    (This link is valid for 1 hour)
  </p>
{% endblock %}
