{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Editor{% endtrans %}
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block style %}
  {{ encore_entry_link_tags('editor') }}
{% endblock %}
{% block body %}

  {% include "editor/navbar.html.twig" %}

  {% include "editor/components/no_responsive.html.twig" %}

  <div id="MasterContainer">
    {% include "editor/sidebar/index.html.twig" %}
    {% include "editor/main.html.twig" %}
    {% include "editor/slides.html.twig" %}
  </div>
  {% include "editor/components/common_image_input.html.twig" %}

{% endblock %}

{% block script %}
  {{ encore_entry_script_tags('editor') }}
{% endblock %}
