{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Editor{% endtrans %}
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block style %}
  {{ encore_entry_link_tags('editor') }}
{% endblock %}
{% block body %}

  {% include "editor/components/no_responsive.html.twig" %}

  {% include "editor/navbar/index.html.twig" with {'presentation':presentation} %}
  <div id="MasterContainer">
    {% include "editor/sidebar/index.html.twig" with {'presentation':presentation} %}
    {% include "editor/main.html.twig" with {'presentation':presentation} %}
    {% include "editor/slides.html.twig" with {'presentation':presentation} %}
  </div>

  {% include "editor/components/common_image_input.html.twig" %}
  {% include "editor/components/feedback.html.twig" %}
  {% include "editor/components/preloader.html.twig" %}

  {% include "editor/entry/add_slide_modal.html.twig" %}


{% endblock %}

{% block script %}
  {{ encore_entry_script_tags('editor') }}
{% endblock %}
