{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Title_Slide_New_Design{% endtrans %}
{% endblock %}

{% block style %}
  {{parent()}}
  {{ encore_entry_link_tags('editor_pre') }}
{% endblock %}
{% block body %}

  <div class="row justify-content-center rtl m-0">
    <div class="col-11 col-sm-8 d-none">
      <div class="form-group mb-0 mt-3">
        <input id="slideTitle" type="text" class="form-control data-hj-whitelist" placeholder="{% trans %}Text_Slide_Title_Placeholder{% endtrans %}">
      </div>
      <div class="form-group">
        <div class="d-none border p-1 inline-editor" style="width: 100%;background-color:rgb(241, 241, 241);">
          <i class="fas fa-align-left border p-2" id="entry_to_ltr" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="LTR"></i>
          <i class="fas fa-align-right border p-2" id="entry_to_rtl" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="RTL"></i>
          <i class="fas fa-remove-format border p-2" id="entry_remove_format" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="הסר את הפורמט"></i>
          <i class="fas fa-eraser border p-2" id="entry_clear_content" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="תוכן ברור"></i>
        </div>
        <div id="area" class="col-12 border pt-2" contenteditable autofocus></div>
      </div>
    </div>
    <div class="col-11 col-sm-8">
      <h1 class="text-center font-weight-bold" style="margin-bottom:10px;font-size: 80px;">
        {% trans %}Title_Slide_New_Design{% endtrans %}
      </h1>
      <h2 class="text-center">
        {% trans %}Subtitle_Slide_New_Design{% endtrans %}
      </h2>
      {% include "editor/components/ckeditor.html.twig" %}
      <div id="buttons_modal_container"></div>
    </div>
  </div>

  {% include "editor/components/preloader.html.twig" %}

{% endblock %}

{% block script %}
  {{ encore_entry_script_tags('editor_pre') }}
{% endblock %}
