{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Title_Slide_New_Design{% endtrans %}
{% endblock %}

{% block style %}
  {{parent()}}
  <style>
    .ck-editor__editable_inline {
      min-height: 300px;
    }
    .buttons_modal_img {
      width: 80%;
    }
    .fully-centered-flow {
      border-radius: 20px;
      cursor: pointer;
      text-align:center !important;
    }
    .encloser {
      transition: all .5s;
    }
    .encloser:hover {
      transform: translate(0, -10px);
    }
  </style>
  {{ encore_entry_link_tags('editor_pre') }}
{% endblock %}
{% block body %}

  <div class="row justify-content-center rtl m-0">
    <div class="col-11 col-sm-8 d-none">
      <div class="form-group mb-0 mt-3">
        <input id="slideTitle" type="text" class="form-control data-hj-whitelist" placeholder="{% trans %}Text_Slide_Title_Placeholder{% endtrans %}">
      </div>
      <div class="form-group">
        <div class="d-none border p-1 inline-editor" style="width: 100%;background-color:rgb(241, 241, 241);">
          <i class="fas fa-align-left border p-2" id="entry_to_ltr" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="LTR"></i>
          <i class="fas fa-align-right border p-2" id="entry_to_rtl" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="RTL"></i>
          <i class="fas fa-remove-format border p-2" id="entry_remove_format" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="הסר את הפורמט"></i>
          <i class="fas fa-eraser border p-2" id="entry_clear_content" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="תוכן ברור"></i>
        </div>
        <div id="area" class="col-12 border pt-2" contenteditable autofocus></div>
      </div>
    </div>
    <div class="col-11 col-sm-8">
      <h1 class="text-center font-weight-bold" style="margin-bottom:10px;font-size: 80px;">
        {% trans %}Title_Slide_New_Design{% endtrans %}
      </h1>
      <h2 class="text-center">
        {% trans %}Subtitle_Slide_New_Design{% endtrans %}
      </h2>
      <textarea id="ckarea" rows="40" cols="50" class="d-none"></textarea>
      <div class="text-center mb-3">
        <button class="btn btn-info bevel-btn horizontal-text-clip" id="entry_analyze" style="margin-top: 10px;padding: 10px 30px; font-size: 28px;" style="cursor:pointer">
          <span>{% trans %}BTN_Create_Slide_Design{% endtrans %}</span>
        </button>
      </div>
      <div id="buttons_modal_container"></div>
    </div>
  </div>

  {% include "editor/components/preloader.html.twig" %}
  {% include "editor/components/hotjar.html.twig" %}

{% endblock %}

{% block script %}
  <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
  <script>
    ClassicEditor.create(document.querySelector('#ckarea')).catch(error => {
      console.error(error);
    });
  </script>
  {{ encore_entry_script_tags('editor_pre') }}
{% endblock %}
