<div id="MainPanel" class="no-transition">
  <div id="SlideContainer" class="vertically-centered">
    <object id="Main_Slide" type="image/svg+xml" data="" class="col-12 p-0 rounded" style="background-color:white"></object>
  </div>
</div>
