<div id="MainPanel" class="no-transition">
  <div id="SlideContainer" class="vertically-centered">
    <img id="Main_Slide" src="https://dummyimage.com/1200x800/b30909/000000&text=Slideo">
  </div>
</div>
