<nav id="BrandNav" class="navbar navbar-expand-sm d-md-flex d-none">

  <ul id="UserHolder" class="navbar-nav d-md-flex d-none">
    <div class="linked-user-nav-blocks d-inline-flex">
      <li class="nav-item">
        <div id="ProfilePicture">
          <p id="Initials" class="fully-centered centered-contents no-margin">ED</p>
        </div>
      </li>
      <li id="NavUser" class="nav-item">
        <h5 id="Name" class="no-margin">Elad Darmon</h5>
        <p id="Email" class="d-inline no-margin">elad.darmon@gmail.com</p>
        <i class="fas fa-chevron-down float-right vertically-centered"></i>
      </li>
    </div>
    <div id="UserMenuDropdown" class="custom-dropdown d-none small-top-margin">
      <div class="option-item row m-0 justify-content-center">
        <button id="Presentations" class="btn btn-highlight single-line col-10">
          <i class="fas fa-images text-light" style="font-size: 1.5rem;"></i>&nbsp;{% trans %}My Presentations{% endtrans %}</button>
      </div>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-user" style="font-size: 1.5rem;"></i>
          {% trans %}Profile{% endtrans %}</span>
      </div>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-star" style="font-size: 1.5rem;"></i>
          {% trans %}Plan{% endtrans %}</span>
      </div>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-money-bill" style="font-size: 1.5rem;"></i>
          {% trans %}Billing{% endtrans %}</span>
      </div>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-envelope-open" style="font-size: 1.5rem;"></i>
          {% trans %}Email Notifications{% endtrans %}</span>
      </div>
      <div class="option-item small-top-margin">
        <span class="option-text text-danger single-line">{% trans %}Logout{% endtrans %}</span>
      </div>

    </div>
    <li class="navigate-action">
      <i class="fas fa-share fa-flip-horizontal"></i>
    </li>
    <li class="navigate-action">
      <i class="fas fa-share"></i>
    </li>
  </ul>
  <ul id="SlideStatusHolder" class="navbar-nav mr-auto">
    <li class="text-grey single-line">
      <i class="fas fa-check-circle"></i>
      <span class="d-xl-inline d-none">&nbsp;{% trans %}All Changes Saved{% endtrans %}</span>
    </li>
  </ul>
  <ul id="SlideControlHolder" class="navbar-nav d-md-flex ml-auto d-none">
    <li class="nav-item">
      <a id="ProjNameHolder" class="nav-link" href="#">
        <div class="expandable-holder">
          <input id="ProjectName" type="text" value="Untitled Project" placeholder="Project Name" onkeypress="this.style.width = ((this.value.length) * 11) + 'px';">
          <i class="fas fa-edit text-grey"></i>
        </div>

      </a>
    </li>
    <button id="PreviewBtn" class="btn btn-secondary bevel-btn horizontal-text-clip">
      <i class="fas fa-play"></i>&nbsp;{% trans %}Preview{% endtrans %}</button>
    <button id="DownloadBtn" class="btn btn-danger bevel-btn horizontal-text-clip">
      <i class="fas fa-download"></i>&nbsp;{% trans %}Download{% endtrans %}</button>
  </ul>
  <a id="Logo" class="navbar-brand d-md-flex d-none" href="#">
    <sup class="ml-auto">BETA</sup>slideo
  </a>
</nav>
