<div id="SlidesPanel">
  <div class="search-section">
    <h6 class="text-white single-line">{% trans %}Slides{% endtrans %}</h6>
  </div>
  <div id="SlidesList" class="small-top-margin custom-scrollbar vertical-scroll">
    <div id="slides_preview">


    </div>
    <div id="slides_init" class="d-none">
      {% for slide_id in presentation.slidesOrder %}
        <slide data-slide-id="{{slide_id}}"></slide>
      {% endfor %}
    </div>
    <div class="add_slide_container">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#create_slide_modal">
        <i class="fas fa-plus h3 m-0" style="font-weight:600"></i>
      </button>
      <div id="BoldBtn"></div>
      <div id="ItalicBtn"></div>
      <div id="UnderlineBtn"></div>
      <div id="AlignmentBtn"></div>
      <div id="FontSize"></div>
    </div>
  </div>
</div>
