<div id="SlidesPanel" class="no-transition">
  <div class="search-section">
    <h6 class="text-white single-line">{% trans %}Slides{% endtrans %}</h6>
  </div>
  <div id="SlidesList" class="small-top-margin custom-scrollbar vertical-scroll">
    <div class="slide-thumbnail active-slide" title="Slide 1">
      <img src="/Images/Slides/ppt1.jpg">
      <div class="remove-slide">
        <i class="fas fa-trash-alt text-white"></i>
      </div>
      <span class="slide-sl text-white">1</span>
    </div>
    <div class="add_slide_container">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#create_slide_modal">
        <i class="fas fa-plus h3 m-0" style="font-weight:600"></i>
      </button>
    </div>
  </div>
</div>
