<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Welcome!
      {% endblock %}
    </title>
    {% block style %}
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="/ie=edge">

      <meta name="description" content="Hybridcore.eu">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="shortcut icon" type="/image/x-icon" href="/favicon.ico">
      <meta property="og:image" content="/img/hybrid_logo_transparent.png"/>
      <meta property="og:image:width" content="100"/>
      <meta property="og:image:height" content="100"/>
      <style>
      /* Scroll bar */
      ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 10px;
      }
    </style>

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/style.css">
  {% endblock %}
</head>
<body>
  {% block navbar %}

  {% endblock %}

  {% block body %}{% endblock %}


  {% block footer %}

  {% endblock %}

  {% block script %}
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/ajax-form.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/scrollIt.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/nice-select.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/gijgo.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.form.js"></script>

    <script src="/js/main.js"></script>
  {% endblock %}
</body></html>
