<!DOCTYPE html>
<html>
	<head>
		<!-- Meta Information -->
		<meta name="author" content="Rajarshi Basu">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<title>Slideo Editor 2.0 | Privacy Policy</title>

		<!-- Styles -->
        {% block style %}
        {% endblock %}        




	</head>

	<body>
		<div id="PageMainContainer" class="container">
            {% block content %}
            {% endblock %}
		</div>

	</body>
</html>
