{% extends 'base.html.twig' %}
{% block title %}Slideo
{% endblock %}
{% block body %}


  <!--================Home Banner Area =================-->
  <section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-6 col-xl-5 offset-xl-7">
            <div class="banner_content">
              <h3>
                {% trans %}Design a presentation automatically...{% endtrans %}
              </h3>
              <p>{% trans %}Your text becomes effective design - easily!{% endtrans %}</p>
              <a class="banner_btn" href="{{path('editor')}}">{% trans %}Try free{% endtrans %}<i class="ti-arrow-right"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <section class="service-area area-padding">
    <div class="container">
      <div
        class="row">
        <!-- Single service -->
        <div class="col-md-6 col-lg-4">
          <div class="single-service">
            <div class="service-icon">
              <i class="ti-pencil-alt"></i>
            </div>
            <div class="service-content">
              <h5>{% trans %}Auto design{% endtrans %}</h5>
              <p>
                {% trans %}This will be the fastest presentation you have built.{% endtrans %}<br>
                {% trans %}Without compromising on a flexible and user-friendly design experience that will take the construction of your presentation to the next level.{% endtrans %}
              </p>
            </div>
          </div>
        </div>

        <!-- Single service -->
        <div class="col-md-6 col-lg-4">
          <div class="single-service">
            <div class="service-icon">
              <i class="ti-image"></i>
            </div>
            <div class="service-content">
              <h5>{% trans %}Unique design templates{% endtrans %}</h5>
              <p>
                {% trans %}Give your content visual meaning.{% endtrans %}<br>
                {% trans %}Your text takes on a new life, with hundreds of images, icons and inspiring colors - that will make your presentation memorable.{% endtrans %}
              </p>
            </div>
          </div>
        </div>


        <!-- Single service -->
        <div class="col-md-6 col-lg-4">
          <div class="single-service">
            <div class="service-icon">
              <i class="ti-blackboard"></i>
            </div>
            <div class="service-content">
              <h5>{% trans %}Your presentations{% endtrans %}</h5>
              <p>
                {% trans %}Share or save all your presentations.{% endtrans %}<br>
                {% trans %}Everything you do is yours forever. Share your presentation anywhere. Or download them for later use.{% endtrans %}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="service-area area-padding pt-0">
    <div class="container">
      <div
        class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="single-service">
            <div class="service-icon">
              <i class="ti-palette"></i>
            </div>
            <div class="service-content">
              <h5>{% trans %}Flexible design{% endtrans %}</h5>
              <p>
                {% trans %}Upload your photos, icons and designs.{% endtrans %}<br>
                {% trans %}Use images, colors and icons of your product or service. Turn them into a winning presentation - with one click.{% endtrans %}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="single-service">
            <div class="service-icon">
              <i class="ti-heart"></i>
            </div>
            <div class="service-content">
              <h5>{% trans %}Personal customization{% endtrans %}</h5>
              <p>
                {% trans %}Integrate your brand into a presentation - with a few clicks.{% endtrans %}<br>
                {% trans %}Give each presentation a professional touch, with your (exact) brand logo and colors.{% endtrans %}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>




{% endblock %}
