{% extends 'base.html.twig' %}
{% block title %}Team
{% endblock %}


{% block body %}

  <div class=" d-flex align-items-center slider_bg_2 overlay2">
    <div class="container" style="margin-top:150px">
      <div
        class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/hasan_suzen.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Hasan Süzen"></canvas>
            <hr>
            <span class="small text-muted">Founder & CEO,</span>
            <span class="small text-muted">PhD Researcher in Computational Social Science at the University of Antwerpen</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/huuges_bersini.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Prof. Huuges Bersini"></canvas>
            <hr>
            <span class="small text-muted">AI Team Supervisor,</span>
            <span class="small text-muted">Director at Computer and Decision Engineering, CoDe IRIDIA ULB</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/salih_tutun.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Salih Tütün"></canvas>
            <hr>
            <span class="small text-muted">Senior Machine Learning Engineer & AI Team Supervisor</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/patrick_de_maziere.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Dr. Patrick De Maziere"></canvas>
            <hr>
            <span class="small text-muted">Senior Machine Learning Engineer & AI Team Supervisor</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/wim_hardyns.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Prof. Wim Hardyns"></canvas>
            <hr>
            <span class="small text-muted">Supervisor</span>
            <span class="small text-muted">Criminology & Safety Sciences at the Ghent University</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/erman_atak.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Erman Atak"></canvas>
            <hr>
            <span class="small text-muted">Chief Operating Officer
            </span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/murat_yalcin.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Murat Yalçın"></canvas>
            <hr>
            <span class="small text-muted">Co-Founder, Senior Data Scientist, Product Engineer & Visualization
            </span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/avatar.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="E. Kunduracı"></canvas>
            <hr>
            <span class="small text-muted">Chief Technology Officer</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/tom_magerman.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Dr. Tom Magerman"></canvas>
            <hr>
            <span class="small text-muted">Senior Data Scientist in Computational Business & Economics, KULeuven & UCLL
            </span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/avatar.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <hr>
            <span class="small text-muted">Computational Neuroscientist, KULeuven & Mindspeller
            </span>
          </div>
        </div>
        <!-- End -->


        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/avatar.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <hr>
            <span class="small text-muted">Senior Machine Learning Engineer, VUB AI Lab</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/halil_azyikmis.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Dr. Halil Azyıkmış"></canvas>
            <hr>
            <span class="small text-muted">Software & Big Data Analytics Engineer</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/erkam_guresen.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Dr. Erkam Guresen"></canvas>
            <hr>
            <span class="small text-muted">Senior Machine Learning Engineer</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/veysel_kocaman.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Veysel Kocaman"></canvas>
            <hr>
            <span class="small text-muted">Senior Data Scientist & Product Engineer, PhD Researcher at the Leiden University</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/ibrahim_sishaneci.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="İbrahim Sisaneci"></canvas>
            <hr>
            <span class="small text-muted">Senior Software Engineer and Architect</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/ibrahim_ince.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="İbrahim İnce"></canvas>
            <hr>
            <span class="small text-muted">Data Scientist</span>
          </div>
        </div>
        <!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/tom_eversdijk.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Tom Eversdijk"></canvas>
            <hr>
            <span class="small text-muted">Junior Data Scientist, KULeuven & UCLL</span>
          </div>
        </div>
        <!-- End -->
        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-md py-5 px-4" style="min-height:450px; height:470px; max-height:470px"><img src="/img/team/cihan_aydiner.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <canvas team-member data-name="Dr. Cihan Aydıner"></canvas>
            <hr>
            <span class="small text-muted">Red Teaming and Homeland Security Expert</span>
          </div>
        </div>
        <!-- End -->

      </div>
    </div>
  </div>

  <!-- slider_area_end -->

  <style>

    /*
        *
        * ==========================================
        * FOR DEMO PURPOSE
        * ==========================================
        *
        */
    body {
      background: gray;
      background: -webkit-linear-gradient(to right, gray, #4c5157);
      background: linear-gradient(to right, gray, #4c5157);
      min-height: 100vh;
    }

    .social-link {
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666;
      border-radius: 50%;
      transition: all 0.3s;
      font-size: 0.9rem;
    }

    .social-link:hover,
    .social-link:focus {
      background: #ddd;
      text-decoration: none;
      color: #555;
    }
  </style>

{% endblock %}
{% block script %}
  {{parent()}}

  <script>
    let members = document.querySelectorAll("canvas[team-member]");
    console.log(members)
    members.forEach(member => {
      member.setAttribute("width", "200");
      member.setAttribute("height", "60");
      let ctx = member.getContext("2d");
      ctx.font = "24px Poppins, sans-serif";
      ctx.textAlign = "center"
      ctx.textBaseline = "middle";
      if (member.dataset.name.length >= 16) {
        let first = member.dataset.name.split(" ").slice(0, -1).join(" ");
        let last = member.dataset.name.split(" ").pop();
        ctx.fillText(first, 100, 15);
        ctx.fillText(last, 100, 45);
      } else {
        ctx.fillText(member.dataset.name, 100, 15);
      }
      member.removeAttribute("data-name");
      member.removeAttribute("team-member");

    });
  </script>
{% endblock %}
