<div id="Background_Panel" class="action-panel collapse">
  <div class="search-section">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="{% trans %}Try &quot;Marketing&quot;{% endtrans %}">
      <div class="input-group-append">
        <span class="input-group-text slide-options-menu">
          <i class="fas fa-cog"></i>
        </span>
      </div>
    </div>
    <div class="custom-dropdown d-none options-dropdown small-top-margin">
      <i class="fas fa-times dropdown-closer"></i>
      <h6 class="text-grey small-top-margin small-bottom-margin single-line">{% trans %}Settings{% endtrans %}</h6>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-copy"></i>
          {% trans %}Add Page Numbers{% endtrans %}</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-calendar"></i>
          {% trans %}Show Date{% endtrans %}</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-file-alt"></i>
          {% trans %}Add Footer Text{% endtrans %}</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="option-item centered-contents d-block small-top-margin">
        <button id="AddLogo_BG" class="btn btn-highlight horizontal-text-clip">{% trans %}Add Logo{% endtrans %}</button>
      </div>
    </div>
  </div>
  <div class="main-section">
    <h6 id="Main_BG_Head" class="text-light single-line">{% trans %}Images{% endtrans %}</h6>
    <div id="Backgrounds_Gallery" class="images-gallery custom-scrollbar vertical-scroll">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Background">
    </div>
    <div class="control-overlay-layout closed">
      <i class="fas fa-times control-close-button"></i>
      <div class="vertically-centered no-image-display centered-contents">
        <img class="upload-animation" src="/Images/download_anim.gif">
        <h6 class="text-dark small-top-margin small-bottom-margin">{% trans %}Start adding Your Files{% endtrans %}</h6>
        <p class="text-dark">{% trans %}Drag and Drop Ffiles, or Upload files from your Computer{% endtrans %}</p>
        <button id="UploadFirstCustomBG" class="btn btn-primary btn-sm default-button horizontal-text-clip">{% trans %}UPLOAD MEDIA{% endtrans %}</button>
      </div>
      <div class="custom-image-display centered-contents collapse">
        <h6 id="Custom_Images_Header" class="text-dark small-bottom-margin single-line">{% trans %}My Backgrounds{% endtrans %}</h6>
        <button id="UploadCustomBG" class="btn btn-primary btn-sm default-button small-bottom-margin horizontal-text-clip">{% trans %}UPLOAD MEDIA{% endtrans %}</button>
        <div class="images-gallery custom-scrollbar vertical-scroll"></div>
      </div>
    </div>
    <div class="backdrop-overlay-layout collapse"></div>
  </div>
  <div class="control-section">
    <button class="btn btn-primary btn-sm btn-full control-button horizontal-text-clip">{% trans %}MY BACKGROUNDS{% endtrans %}</button>
    <button class="btn btn-danger btn-sm btn-full control-close-button collapse horizontal-text-clip">{% trans %}CANCEL{% endtrans %}</button>
  </div>
</div>
