<div id="Colors_Panel" class="action-panel collapse">
  <div class="search-section">
    <div id="ColorTemplateSelector">
      <img id="ColorTemplateSelector_Icon" src="/Images/color_template_icon.png">
      <span id="SelectedColorTemplate_Name" class="text-grey">Light &amp; Bright</span>
      <i class="fas fa-chevron-down float-right"></i>
    </div>
    <div id="Color_Templates_List" class="custom-dropdown d-none custom-scrollbar vertical-scroll">
      <div class="custom-dropdown-item active">
        <div class="colors-container">
          <div class="color template-icon-color" style="background-color: rgba(255,255,255,1)" data-color="rgba(255,255,255,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(255,0,0,0.5)" data-color="rgba(255,0,0,0.5)" data-alpha="0.5"></div>
          <div class="color template-icon-color" style="background-color: rgba(255,255,0,1)" data-color="rgba(255,255,0,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(0,255,255,0.54)" data-color="rgba(0,255,255,0.54)" data-alpha="0.54"></div>
          <div class="color template-icon-color" style="background-color: rgba(0,255,0,0.8)" data-color="rgba(0,255,0,0.8)" data-alpha="0.8"></div>
          <div class="color template-icon-color" style="background-color: rgba(255,0,255,0.1)" data-color="rgba(255,0,255,0.1)" data-alpha="0.1"></div>
          <div class="color template-icon-color" style="background-color: rgba(0,0,255,1)" data-color="rgba(0,0,255,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(15,240,255,0.6)" data-color="rgba(15,240,255,0.6)" data-alpha="0.6"></div>
          <div class="color template-icon-color" style="background-color: rgba(240,15,15,0.2)" data-color="rgba(240,15,15,0.2)" data-alpha="0.2"></div>
          <div class="color template-icon-color" style="background-color: rgba(174,222,191,1)" data-color="rgba(174,222,191,1)" data-alpha="1"></div>
        </div>
        <div class="d-inline template-text">
          <h6 class="template-header d-block no-margin">Light &amp; Bright</h6>
          <p class="template-desc no-margin">Lovely Bright Colors to light up your presentation</p>
        </div>
      </div>
      <div class="custom-dropdown-item">
        <div class="colors-container">
          <div class="color template-icon-color" style="background-color: rgba(0,128,128,1)" data-color="rgba(0,128,128,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(85,107,47,1)" data-color="rgba(85,107,47,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(0,128,0,1)" data-color="rgba(0,128,0,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(0,250,154,1)" data-color="rgba(0,250,154,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(85,107,47,1)" data-color="rgba(85,107,47,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(0,139,139,1)" data-color="rgba(0,139,139,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(102,205,170,1)" data-color="rgba(102,205,170,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(173,255,47,1)" data-color="rgba(173,255,47,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(46,139,87,1)" data-color="rgba(46,139,87,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(154,205,50,1)" data-color="rgba(154,205,50,1)" data-alpha="1"></div>
        </div>
        <div class="d-inline template-text">
          <h6 class="template-header d-block no-margin">Green</h6>
          <p class="template-desc no-margin">Fresh Green Shades to help your message grow</p>
        </div>
      </div>
      <div class="custom-dropdown-item">
        <div class="colors-container">
          <div class="color template-icon-color" style="background-color: rgba(255, 215, 0,1)" data-color="rgba(255, 215, 0,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(192,192,192,1)" data-color="rgba(192,192,192,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(205, 127, 50,1)" data-color="rgba(205, 127, 50,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(184,115,51,1)" data-color="rgba(184,115,51,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(0,167,107,1)" data-color="rgba(0,167,107,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(229, 228, 226,1)" data-color="rgba(229, 228, 226,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(70, 130, 180,1)" data-color="rgba(70, 130, 180,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(255, 209, 178,1)" data-color="rgba(255, 209, 178,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(144,144,163,1)" data-color="rgba(144,144,163,1)" data-alpha="1"></div>
          <div class="color template-icon-color" style="background-color: rgba(183,65,14,1)" data-color="rgba(183,65,14,1)" data-alpha="1"></div>
        </div>
        <div class="d-inline template-text">
          <h6 class="template-header d-block no-margin">Metallic</h6>
          <p class="template-desc no-margin">A collection of hues from unique metals</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main-section">
    <h6 class="text-light small-top-margin small-bottom-margin centered-contents single-line">{% trans %}Design Colors{% endtrans %}</h6>
    <div class="colors-container">
      <div class="color" style="background-color: rgba(255,255,255,1)" data-color="rgba(255,255,255,1)" data-alpha="1"></div>
      <div class="color" style="background-color: rgba(255,0,0,0.5)" data-color="rgba(255,0,0,0.5)" data-alpha="0.5"></div>
      <div class="color" style="background-color: rgba(255,255,0,1)" data-color="rgba(255,255,0,1)" data-alpha="1"></div>
      <div class="color" style="background-color: rgba(0,255,255,0.54)" data-color="rgba(0,255,255,0.54)" data-alpha="0.54"></div>
      <div class="color" style="background-color: rgba(0,255,0,0.8)" data-color="rgba(0,255,0,0.8)" data-alpha="0.8"></div>
      <div class="color" style="background-color: rgba(255,0,255,0.1)" data-color="rgba(255,0,255,0.1)" data-alpha="0.1"></div>
      <div class="color" style="background-color: rgba(0,0,255,1)" data-color="rgba(0,0,255,1)" data-alpha="1"></div>
      <div class="color" style="background-color: rgba(15,240,255,0.6)" data-color="rgba(15,240,255,0.6)" data-alpha="0.6"></div>
      <div class="color" style="background-color: rgba(240,15,15,0.2)" data-color="rgba(240,15,15,0.2)" data-alpha="0.2"></div>
      <div class="color" style="background-color: rgba(174,222,191,1)" data-color="rgba(174,222,191,1)" data-alpha="1"></div>
    </div>
    <div class="template-text-container">
      <h6 class="text-light small-top-margin small-bottom-margin">Light &amp; Bright</h6>
      <p class="text-light no-margin">Lovely Bright Colors to light up your presentation</p>
    </div>
    <div id="colorPickerContainer" class="medium-top-margin row m-0 justify-content-center">
      <div class="col-10">
        <input id="changeColor" class="collapse" value="rgba(0,0,0,0)"/>
      </div>
    </div>
    <div class="control-overlay-layout closed">
      <i class="fas fa-times control-close-button"></i>
      <h6 class="small-top-margin medium-bottom-margin single-line">{% trans %}Save as New Template{% endtrans %}</h6>
      <div class="form-group">
        <label for="ctname" class="single-line">{% trans %}Template Name:{% endtrans %}</label>
        <input type="text" class="form-control char-tracked" id="ctname" maxlength="50">
        <span class="char-tracker text-secondary float-right">
          <span class="curr-char-count">0</span>/<span class="max-char-count"></span>
        </span>
      </div>
      <div class="form-group">
        <label for="ctname" class="single-line">{% trans %}Template Description:{% endtrans %}</label>
        <textarea id="ctdesc" maxlength="300" rows="3" class="char-tracked"></textarea>
        <span class="char-tracker text-secondary float-right">
          <span class="curr-char-count">0</span>/<span class="max-char-count"></span>
        </span>
      </div>
    </div>
    <div class="backdrop-overlay-layout collapse"></div>
  </div>
  <div class="control-section">
    <button class="btn btn-primary btn-sm btn-full control-button horizontal-text-clip">{% trans %}SAVE AS NEW TEMPLATE{% endtrans %}</button>
    <button class="btn btn-primary btn-sm btn-full control-close-button collapse horizontal-text-clip">{% trans %}SAVE{% endtrans %}</button>
  </div>
</div>
