<div id="Design_Panel" class="action-panel">
  <div class="search-section">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="{% trans %}Try &quot;Marketing&quot;{% endtrans %}">
      <div class="input-group-append">
        <span class="input-group-text slide-options-menu">
          <i class="fas fa-cog"></i>
        </span>
      </div>
    </div>
    <div class="custom-dropdown d-none options-dropdown small-top-margin">
      <i class="fas fa-times dropdown-closer"></i>
      <h6 class="text-grey small-top-margin small-bottom-margin single-line">{% trans %}Settings{% endtrans %}</h6>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-copy"></i>
          {% trans %}Add Page Numbers{% endtrans %}</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-calendar"></i>
          {% trans %}Show Date{% endtrans %}</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="option-item">
        <span class="option-text single-line">
          <i class="fas fa-file-alt"></i>
          {% trans %}Add Footer Text{% endtrans %}</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="option-item centered-contents d-block small-top-margin">
        <button id="AddLogo" class="btn btn-highlight horizontal-text-clip">{% trans %}Add Logo{% endtrans %}</button>
      </div>
    </div>
  </div>
  <div class="main-section">
    <h6 class="text-light small-top-margin small-bottom-margin centered-contents single-line">{% trans %}All Designs{% endtrans %}</h6>
    <div id="Designs_Gallery" class="images-gallery custom-scrollbar vertical-scroll">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
      <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Design">
    </div>
    <div class="control-overlay-layout closed">
      <h6 class="text-dark small-top-margin small-bottom-margin centered-contents single-line">{% trans %}Design Layouts{% endtrans %}</h6>
      <div id="Design_Layouts" class="images-gallery custom-scrollbar vertical-scroll">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
        <img class="image-item" src="https://dummyimage.com/123x60/b30909/000000&text=Layout">
      </div>
    </div>
    <div class="backdrop-overlay-layout collapse"></div>
  </div>
  <div class="control-section">
    <button class="btn btn-primary btn-sm btn-full control-button horizontal-text-clip">{% trans %}DESIGN LAYOUTS{% endtrans %}</button>
    <button class="btn btn-danger btn-sm btn-full control-close-button collapse horizontal-text-clip">{% trans %}CANCEL{% endtrans %}</button>
  </div>
</div>
