<div id="Icons_Panel" class="action-panel collapse">
  <div class="search-section">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="{% trans %}Try &quot;Marketing&quot;{% endtrans %}">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fas fa-cog"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="main-section">
    <div class="control-overlay-layout closed"></div>
    <div class="backdrop-overlay-layout collapse"></div>
  </div>
  <div class="control-section">
    <button class="btn btn-primary btn-sm btn-full control-button horizontal-text-clip">{% trans %}IMPORT MORE ICONS{% endtrans %}</button>
    <button class="btn btn-danger btn-sm btn-full control-close-button collapse horizontal-text-clip">{% trans %}CANCEL{% endtrans %}</button>
  </div>
</div>
