#contextMenu {
  border-radius: 10px;
  background: white;
  box-shadow: 0px 2px 6px 1px grey;
  position: absolute;
  top: 20%;
  left: 20%;
  width: fit-content;
  z-index: 5;
}
.contextMenu-icon-wrapper {
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 25px;
}
.contextMenu-text-wrapper {
  display: inline-block;
}
.contextMenu-line-wrapper {
  cursor: pointer;
  padding: 0 10px;
  line-height: 30px;
}
.contextMenu-line-wrapper:first-of-type {
  padding: 3px 10px 0;
}
.contextMenu-line-wrapper:last-of-type {
  padding: 0 10px 3px;
}
.contextMenu-line-wrapper:first-of-type {
  border-radius: 10px 10px 0 0;
}
.contextMenu-line-wrapper:last-of-type {
  border-radius: 0 0 10px 10px;
}
.contextMenu-line-wrapper:hover {
  background: rgb(224, 219, 219);
}
