
/* Input area */

#area {
    min-height: 300px;
    height: fit-content;
}

input#slideTitle {
    padding: 20px 10px;
    margin: 50px 0 20px;
    font-size: 20px;
    border: 1px solid lightgray;
}
