{% extends 'base.html.twig' %}


{% block body %}
    <div id="PageMainContainer" class="container" style="text-align: justify;">
        <h1 class="group-header" dir="rtl">מדיניות פרטיות</h1>
        <p class="group-text" dir="rtl">
            מעודכן ליום 1.3.2021
        </p>
        <br>
        <p class="group-text" dir="rtl">חברת סליידאו (להלן: “החברה” או “אנחנו”) מתייחסת בכבוד לפרטיות המשתמשים באתר
            האינטרנט שלה שכתובתו:
            <span>
        <object height="0">
          <a data-auto-recognition="true" href="{{ path('privacy-policy') }}"
             target="_blank">{{ path('privacy-policy') }}</a>
        </object>
      </span>
            &nbsp;(לרבות הדומיינים המשניים) (להלן: “האתר”). תנאים אלה ילמדו אותך מהי מדיניות הפרטיות הנהוגה באתר. הם
            סוקרים, בין השאר, את האופן שבו משתמשת החברה במידע, הנמסר לה על-ידי המשתמשים באתרים או נאסף על-ידה בעת השימוש
            באתר.
        </p>
        <br>
        <p class="group-text" dir="rtl">
            מסמך זה מתאר את מדיניות הפרטיות באתר של החברה והינו חלק בלתי נפרד מתנאי השימוש באתר.
        </p>
        <br>
        <p class="group-text" dir="rtl">ביטויים אשר לא הוגדרו במדיניות הפרטיות, תהא להם משמעות זהה למשמעותם&nbsp;
            <u>בתנאי השימוש באתר</u>&nbsp;לפי העניין (להלן, ביחד: “תנאי השימוש“).
        </p>
        <p class="group-text" dir="rtl">
            מדיניות הפרטיות מנוסחת בלשון זכר לצרכי נוחות בלבד, והיא מתייחסת, כמובן, גם לנשים.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            הסכמה
        </h3>
        <p class="group-text" dir="rtl">
            אנא קרא בעיון: מדיניות הפרטיות המפורטת במסמך זה מהווה הסכם משפטי מחייב ואכיף בינך לבין החברה, לפיכך, הנך
            מתבקש לקרוא את מדיניות הפרטיות בקפידה רבה.
            <br>

            בעצם השימוש באתר ובשירותים הניתנים בו, הינך מצהיר כי קראת והבנת את מדיניות הפרטיות, כי ניתנה לך האפשרות
            לעיין בה, וכי הינך מסכים לכל התנאים המפורטים בה.
            <br>

            אם אינך מסכים לאי אילו מהתנאים המפורטים להלן, הנך מחויב, באופן מיידי, להימנע מכניסה ו/או משימוש באתר, בכל
            אופן.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            איזה מידע אנחנו רשאים לאסוף אודות המשתמשים שלנו?
        </h3>
        <p class="group-text" dir="rtl">
            אנו אוספים שני סוגים של מידע מהמשתמשים באתר:
            <br>

            ­הסוג הראשון של מידע שהחברה אוספת הנו מידע אנונימי ואינו מזהה (להלן: “מידע לא אישי“). מידע לא אישי הוא כל
            מידע גלוי אשר זמין לחברה בשעה שהמשתמש משתמש באתר, ואינו מאפשר את זיהויו של אותו משתמש. מידע לא אישי כולל
            מידע אנונימי, טכני וכן מידע שנאסף אודות התנהגות המשתמשים, ועשוי לכלול, בין היתר, את פעילותו של המשתמש באתר,
            את זהות מערכת ההפעלה וסוג מערכת הדפדפן של המשתמש, זרם הקשות (click-stream), פעילות המשתמש באתר, דף ההפניה
            (referral URL), שפת המקלדת, רזולוציית מסך המכשיר ממנו מתבצעת הגישה לאתר וכיו”ב.
        </p>
        <br>
        <p class="group-text" dir="rtl">
            הסוג השני של מידע שהחברה אוספת הנו מידע אישי מזהה (להלן: “מידע אישי“). המידע האישי מאפשר לחברה לזהות באופן
            אישי את המשתמש ובדרך כלל נושא אופי פרטי או רגיש. המשתמשים מספקים באופן אוטומטי את ה- IP address או כתובת
            ה-Mac שלהם בהתאם לרשת או למכשיר בהם הם משתמשים. מידע זה נאסף על מנת לשפר את חוויית המשתמשים ולמטרות אבטחה.
        </p>
        <br>
        <p class="group-text" dir="rtl">
            במסגרת טופס יצירת קשר באתר, משתמשים נדרשים למסור שם מלא וכתובת דוא”ל. יתכן כי משתמשים ידרשו בעתיד למסור מידע
            נוסף.
        </p>
        <p class="group-text" dir="rtl">
            למען הסר ספק, כל מידע לא אישי אשר קשור או מקושר למידע אישי ייחשב למידע אישי, כל עוד זיקה זו מתקיימת.
        </p>
        <br>
        <p class="group-text" dir="rtl">
            שים לב: אנו לא נאסוף עליך מידע אישי ללא קבלת הסכמתך, אשר ניתנת, בין היתר, במסגרת קבלתך את תנאי השימוש ואת
            מדיניות הפרטיות ובעצם שימושך באתר.
            <br>

            אינך מחויב למסור מידע אישי על-פי חוק. הנך מסכים ומצהיר בזאת שהמידע האישי שהינך מספק לנו נמסר מרצונך החופשי,
            על מנת שנוכל לספק עבורך את שירותי האתר וכן הינך מסכים כי נשמור את המידע שסיפקת לנו במאגר מידע (אשר יתכן
            ויירשם בהתאם לדרישות הדין).
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            השימוש במידע
        </h3>
        <p class="group-text" dir="rtl">
            בעת השימוש באתרים יכול שיצטבר מידע על נוהגיך, מקום המחשב שבאמצעותו ניגשת לאתרים ועוד. החברה רשאית לשמור את
            המידע במאגריה. השימוש בנתונים אלה ייעשה רק על-פי מדיניות פרטיות זו או על-פי הוראות כל דין – וזאת למטרות
            המפורטות להלן:
        </p>
        <p class="group-text" dir="rtl">
            כדי לאפשר לך להשתמש בשירותים שונים באתר.
        </p>
        <p class="group-text" dir="rtl">
            כדי לשפר ולהעשיר את השירותים והתכנים המוצעים באתר, ובכלל זה ליצור שירותים ותכנים חדשים המתאימים לדרישות
            המשתמשים באתרים וציפיותיהם, ולשנות או לבטל שירותים ותכנים קיימים. המידע שישמש את החברה לצורך כך יהיה בעיקרו
            מידע סטטיסטי, שאינו מזהה אותך אישית, ולשם תפעולם התקין ופיתוחם של האתרים.
        </p>
        <p class="group-text" dir="rtl">
            המידע המשמש לצורך זה לא יועבר לצדדים שלישיים, אלא ככל שהדבר הותר במסגרת מדיניות פרטיות זו, כפי שתעודכן מדי
            פעם.
        </p>
        <p class="group-text" dir="rtl">
            לכל מטרה אחרת, המפורטת במדיניות פרטיות זו או בתנאי השימוש.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            מסירת מידע לצד שלישי
        </h3>
        <p class="group-text" dir="rtl">
            מידע אישי – החברה לא תעביר ו/או תציג לצדדים שלישיים את פרטיך האישיים והמידע שנאסף על פעילותך באתר (ככל
            שפרטים ומידע זה מזהים אותך אישית), אלא במקרים המפורטים להלן:
            <br>

            במידה והחברה ביקשה את רשותך, ואת/ה נתת את הסכמתך המפורשת לכך;
        </p>
        <p class="group-text" dir="rtl">
            במקרה שתפר את תנאי השימוש, או ניסיון לבצע פעולות כאלה במקרים אלה, תהיה החברה רשאית למסור את המידע לפי הנדרש;
        </p>
        <p class="group-text" dir="rtl">
            אם יתקבל בידי החברה צו שיפוטי המורה לה למסור את פרטיך או המידע אודותיך לצד שלישי;
        </p>
        <p class="group-text" dir="rtl">
            במקרה של מחלוקת משפטית בינך לבין החברה שתחייב את חשיפת פרטיך;
        </p>
        <p class="group-text" dir="rtl">
            בכל מקרה שהחברה תסבור, כי מסירת המידע נחוצה כדי למנוע נזק חמור לגופך או לרכושך או לגופו או לרכושו של צד
            שלישי;
        </p>
        <p class="group-text" dir="rtl">
            החברה תהיה רשאית להעביר את פרטיך והמידע שנאסף בעקבות השימוש שעשית באתרים לחברות אחרות הקשורות לחברה, ובלבד
            שהן תשתמשנה במידע זה רק על-פי הוראות מדיניות פרטיות זו;
        </p>
        <p class="group-text" dir="rtl">
            במקרה שהחברה תתמזג עם גוף אחר או תמזג את פעילות האתר עם פעילותו של צד שלישי – היא תהיה זכאית להעביר לתאגיד
            החדש העתק מן המידע שנאגר אודותיך באתרים או כל מידע סטטיסטי שבידיה, ובלבד שתאגיד זה יקבל על עצמו את הוראות
            מדיניות פרטיות זו.
        </p>
        <p class="group-text" dir="rtl">
            מידע סטטיסטי – החברה עשויה להעביר מידע סטטיסטי, בתמורה או שלא בתמורה, לצדדים שלישיים המצויים איתם בקשרים
            עסקיים או אחרים, לרבות חברות העוסקות בניתוח מידע סטטיסטי אנונימי כאמור לצורך שיפור השירותים המוצעים באתר,
            לפי שיקול דעתם הבלעדי של החברה.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            ‘עוגיות’ (Cookies) ואחסון מקומי
        </h3>
        <p class="group-text" dir="rtl">
            בשעת השימוש באתר, החברה או צדדים שלישיים עשויים להשתמש בטכנולוגיה אשר מקובלת בתעשייה ומוכרת כ”עוגיות”
            ו-Flash (או טכנולוגיות דומות), המאחסנת מידע מסוים במכשיר הנייד ו/או במחשב של המשתמש, מאפשרת לחברה להפעיל
            מאפיינים מסוימים באופן אוטומטי, ומשפרת את חווית השימוש של המשתמש בשירותי החברה. העוגיות נדרשות לצורך תפעולם
            השוטף והתקין של האתר, ובכלל זה כדי לאסוף נתונים אודות הרגלי השימוש באתר ולזהות דפוסי תעבורת משתמשים, לאימות
            פרטים, להתאמת האתר להעדפותיך האישיות ולצרכי אבטחת מידע.
            <br>

            מרבית דפדפני האינטרנט מאפשרים למשתמשים למחוק עוגיות ממכשיר המשתמש, לחסום קבלה של עוגיות או לקבל התראות לפני
            אחסונן של עוגיות. עם זאת, יש לשים לב כי אם המשתמש ימחק את העוגיות או לא יאפשר את אחסונן, או אם ישנה את
            המאפיינים של Flash, החוויה המקוונת של המשתמש דרך האתר תהיה מוגבלת.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            איסוף מידע לצרכים סטטיסטיים
        </h3>
        <p class="group-text" dir="rtl">
            החברה נעזרת בחברות שונות המספקות לה ניתוחים סטטיסטיים אודות השימוש באתר. החברות אוספות ומנתחות מידע על היקף
            השימוש באתר, תדירות השימוש בו, מקורות הגישה של המשתמשים לאתר וכיוצא בזה. המידע הנאסף הוא סטטיסטי במהותו, הוא
            איננו מזהה אותך אישית והוא נועד לצרכי ניתוח, מחקר ובקרה.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            אבטחת מידע
        </h3>
        <p class="group-text" dir="rtl">
            על מנת לשמור על סודיות המידע מפני צד שלישי נוקטת החברה באמצעים שנועדו להבטיח את זיהוי המשתמש ולהגן על מידע
            שמועבר וזאת באמצעי אבטחת מידע התואמים את הסטנדרטים המקובלים ביחס לכל סוג של אמצעי תקשורת, כגון תקני הצפנה
            מתקדמים מסוג SSL 256 ביט. למרות זאת, אין החברה יכולה לבטל כליל סיכון של חדירה למאגרי הנתונים של החברה או
            לתעבורת הנתונים בין המחשב בו הינך עושה שימוש לבין החברה – ולהיפך. בנוסף, ישנם ערוצי תקשורת בהם אין החברה
            יכולה להגן ולשמור על אבטחת המידע בעת העברתו אליהם באמצעותם, על ידך. לכן, מוסכם עליך כי החברה לא תהא אחראית
            לנזק שיגרם לך, אם ייגרם, כתוצאה מכך, לרבות בשל העברת מידע אודותיך או מידע שנמסר על ידך לצד ג’ כלשהו, וזאת
            ככל שהחברה נקטה בצעדים סבירים ומקובלים למניעת פעולות שכאלה.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            זכות לעיין במידע
        </h3>
        <p class="group-text" dir="rtl">
            על-פי חוק הגנת הפרטיות, התשמ”א–1981 (להלן: “חוק הגנת הפרטיות“), כל אדם זכאי לעיין בעצמו, או על-ידי בא-כוחו
            שהרשהו בכתב או על-ידי אפוטרופוסו, במידע שעליו המוחזק במאגר מידע. אדם שעיין במידע שעליו ומצא כי אינו נכון,
            שלם, ברור או מעודכן, רשאי לפנות לבעל מאגר המידע בבקשה לתקן את המידע או למוחקו. אם בעל המאגר סירב למלא בקשה
            זו, עליו להודיע על כך למבקש באופן ובדרך שנקבעו בתקנות. על סירובו של בעל מאגר מידע לאפשר עיון ועל הודעת סירוב
            לתקן או למחוק מידע, רשאי מבקש המידע לערער לפני בית משפט השלום באופן ובדרך שנקבעו בתקנות.
        </p>
        <br>
        <p class="group-text" dir="rtl">
            בנוסף, אם המידע שבמאגרי החברה משמש לצורך פניה אישית אליך, בהתבסס על השתייכותך לקבוצת אוכלוסין, שנקבעה על-פי
            איפיון אחד או יותר של בני אדם ששמותיהם כלולים במאגר (להלן: “פניה בהצעה מסחרית“), כי אז אתה זכאי על-פי חוק
            הגנת הפרטיות לדרוש בכתב שהמידע המתייחס אליך יימחק ממאגר המידע. החברה תמחק במקרה זה מידע הדרוש לה רק כדי
            לפנות אליך בהצעות מסחריות כאמור לעיל.
        </p>
        <br>
        <p class="group-text" dir="rtl">
            מידע הדרוש להחברה לשם ניהול עסקיה – לרבות תיעוד פעולות מסחריות ואחרות שביצעת באתר – יוסיף להישמר בהחברה
            על-פי דין, אך לא ישמש עוד לצורך פניות אליך. אם בתוך 30 יום לא תקבל הודעה כי המידע שנתבקשה החברה למחוק אכן
            נמחק על-פי סעיף זה, תהיה זכאי לפנות לבית משפט השלום באופן הקבוע בתקנות שמכוח החוק, כדי שיורה להחברה לפעול
            כאמור.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            חוק הספאם
        </h3>
        <p class="group-text" dir="rtl">
            בהתאם להוראות סעיף 30א לחוק התקשורת (בזק ושידורים), התשמ”ב–1982 (להלן: “חוק הספאם“), החברה מתחייבת לא לשלוח
            אליך כל דבר פרסומת מבלי להשיג את אישורך לכך קודם לכן (להלן: “ספאם“). במסגרת פנייה לחברה באמצעות טופס יצירת
            קשר באתר, אתה מעניק לנו את הסכמתך לשלוח אליך דברי פרסומת (כהגדרתם בחוק הספאם) בדואר אלקטרוני ו/או לכתובת
            מגורייך ו/או לטלפון הנייד שלך. מרגע בו הסכמה זו ניתנת, כל חומר שנשלח אליך מטעם החברה לא יחשב כספאם מכל סוג
            ומין אשר מהווה או יש בו כדי להוות הפרה של חוק הספאם. בכל רגע נתון, תוכל לבטל את הסכמתך זו ו/או לעדכן את
            החברה בדבר רצונך לקבל רק סוגים ספציפיים של מידע על-ידי יידוע החברה על סירובך לקבל מידע מהחברה בעתיד, על-ידי
            שליחת דואר אלקטרוני לכתובת
            <object height="0">
                <a data-auto-recognition="true" href="mailto:support@slide.ai">support@slide.ai</a>
            </object>
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            שירותי צדדים שלישיים
        </h3>
        <p class="group-text" dir="rtl">
            אנו רשאים להשתמש בתוכנה או בשירותי צד שלישי על מנת לאסוף, לאחסן ו/או לעבד את המידע שנאסף במסגרת האתר. אנו
            עושים מאמצים על מנת להתקשר עם צדדים שלישיים המפרסמים מדיניות פרטיות החלה על איסוף, אחסון, עיבוד ושימוש במידע
            אישי ובמידע לא אישי.<br>
            שירותי צדדים שלישיים כוללים, בין היתר, את Google Analytics, אשר מדיניות הפרטיות שלה מפורסמת בכתובות:&nbsp;
            <span style="text-decoration:underline">
        <a href="https://support.google.com/analytics/answer/6004245" target="_blank" rel="nofollow noopener">
          https://support.google.com/analytics/answer/6004245</a>
      </span>
            ; יחד עם זאת, לחברה אין כל שליטה על צדדים שלישיים אלה. אנו ממליצים לך לקרוא את תנאי השימוש ומדיניות הפרטיות
            של צדדים שלישיים אלה ו/או לפנות אליהם במישרין על מנת שתוכל לדעת אילו סוגי מידע נאספים לגביך.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            שינויים במדיניות הפרטיות
        </h3>
        <p class="group-text" dir="rtl">
            החברה שומרת על זכותה לשנות מדיניות פרטיות זו בכל זמן, ומבקשת מכלל המשתמשים לשוב ולבקר בדף זה לעיתים קרובות
            ככל האפשר. אנו נודיע למשתמש על כל שינוי מהותי בתנאי מדיניות פרטיות זו, על-ידי החלפת הקישור ל”מדיניות
            הפרטיות” בעמוד הבית של האתר בקישור ששמו “תנאי השימוש מעודכנים ליום ____”. שינויים שאינם מהותיים יכנסו לתוקף
            תוך שבעה (7) ימים ממועד ההודעה כאמור. כל שאר השינויים במדיניות הפרטיות ייכנסו לתוקף באופן מיידי והמשך השימוש
            שלך באתר לאחר תאריך העדכון האחרון יהווה הסכמה שלך לכך שהשינויים יחייבו אותך. המשך השימוש שלך באתר, באפליקציה
            ובשירותים יעידו על הסכמתך לכללי המדיניות החדשים.
        </p>
        <br>
        <h3 class="group-header" dir="rtl">
            שאלות
        </h3>
        <p class="group-text" dir="rtl">
            במידה ויש לך שאלות נוספות או הערות בנוגע לתנאים, הינך מוזמן לפנות אלינו באמצעות דואר אלקטרוני בכתובת:
            <span>
        <object height="0">
          <a data-auto-recognition="true"
             href="mailto:{{ app.request.server.get('SUPPORT_EMAIL') }}">{{ app.request.server.get('SUPPORT_EMAIL') }}</a>
        </object>
      </span>
            . אנו נעשה את מירב המאמצים לחזור אליך תוך זמן סביר.
        </p>
        <br><br><br>
    </div>
{% endblock %}
