{% extends 'base.html.twig' %}


{% block content %}
<div id="PageMainContainer" class="container">
			<h1 class="group-header" dir="rtl">
				תנאי שימוש
			</h1>
			<br>
			<p class="group-text" dir="rtl">
				<u>
					מעודכן ליום 1.3.2021
				</u>
			</p>
			<br>
			<p class="group-text" dir="rtl">
				חברת סליידאו (“אנחנו” או “החברה“) מברכת אותך (“המשתמש” או “אתה“) על השימוש באפליקציית SLIDEO (“האפליקציה“) ו/או בממשק האינטרנטי שלה באתר האינטרנט
				<span style="text-decoration-line: underline;"><object height="0"><a data-auto-recognition="true" href="http://www.slideo.co.il" target="_blank">www.slideo.co.il</a></object></span>
				&nbsp;(“הפורטל”), אשר מתבססים על התוכנה של החברה בתחום היצירה, העריכה והעיצוב של מצגות באופן מקוון, באופן העשוי לייעל ולתרום להתנהלות המשתמש (“השירותים“). תנאי השימוש אשר המפורטים להלן (“תנאי שימוש“) חלים על השימוש שלך בפורטל, באפליקציה ובשירותים של החברה (אשר יסופקו לך באמצעות הפורטל ו/או האפליקציה). כל משתמש בפורטל ובאפליקציה רשאי להשתמש בפורטל ובאפליקציה בהתאם לתנאים ולהוראות המצוינים במסמך זה.
			</p>
			<p class="group-text" dir="rtl">
				מדיניות הפרטיות ותנאי השימוש מנוסחים בלשון זכר לצרכי נוחות בלבד, והם מתייחסים, כמובן, גם לנשים.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				הסכמה לתנאי השימוש
			</h3>
			<p class="group-text" dir="rtl">
				אנא קרא בעיון: עצם הכניסה, ההתחברות ו/או השימוש באתר, הנך מאשר כי קראת והבנת את תנאי השימוש הבאים, לרבות תנאי מדיניות הפרטיות של האתר, אשר זמינה בלינק
				<span style="text-decoration-line: underline;"><object height="0"><a data-auto-recognition="true" href="https://www.slideo.co.il/privacy-policy" target="_blank">https://www.slideo.co.il/privacy-policy</a></object></span>
				&nbsp;(להלן, ביחד: “התנאים“). אתה מסכים כי כמשתמש באתר, התנאים יחייבו אותך וכי תפעל בהתאם לכל הדינים והתקנות החלים בקשר לשימוש באתר.<br>
הנך מאשר בזאת כי התנאים מהווים הסכם משפטי מחייב וניתן לאכיפה בין החברה לבינך.<br>
אם אינך מסכים לאי אילו מתנאי השימוש המפורטים להלן, הנך מחויב, באופן מיידי, להימנע מכניסה או משימוש באתר, בכל אופן שהוא.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				האתר
			</h3>
			<p class="group-text" dir="rtl">
				מטרת האתר היא לאפשר למשתמש לערוך, ליצור ולעדכן מצגות על בסיס התוכן שאותו המשתמש מספק לאתר.
			</p>
			<p class="group-text" dir="rtl">
				האתר עשוי להכיל תכנים, מסמכים, מלל, קבצים, לוגואים, אייקונים, תמונות, סרטונים, מאגרי נתונים, נתונים טכניים, ידע, מפרטים, ה-“look and feel” של האתר, ממשק, GUI, תכונות אינטראקטיביות, גרפיקה ומאפיינים אחרים אשר זמינים באתר או דרכו (“התוכן“). כל הזכויות בתוכן הנן בבעלות החברה ו/או ניתנו לה ברישיון כדין. כמו כן, האתר מאפשר למשתמשים ליצור קשר עם החברה באמצעות טופס יצירת קשר המצוי באתר (להלן: “טופס יצירת קשר“).
			</p>
			<br>
			<p class="group-text" dir="rtl">
				שים לב: האתר והתוכן ניתנים לך “כמות שהם” (“AS IS”). המשתמש מסכים ומאשר כי השימוש באתר ובתוכן הזמין באמצעות השימוש באתר הינו באחריותו הבלעדית, וכי אין לחברה כל אחריות לתוצאות העשויות לנבוע משימוש בהם, לרבות אחריות בנוגע לתפקוד האתר, לאספקת שירותים כאלה או אחרים, למהירות ואמינות השירותים ו/או לתוצאות השימוש בהם. החברה לא תהיה אחראי לנזק שהוא, לרבות אך לא רק, כל נזק הנובע מהשימוש שלך בתוכן, באתר או בשירותים הניתנים במסגרתו או באמצעותו.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				שימושים אסורים
			</h3>
			<p class="group-text" dir="rtl">
				פעולות מסוימות אסורות בעת השימוש באתר. אי עמידה בהוראות המצוינות להלן אף עשויה לחשוף את המשתמש לחבות אזרחית ו/או פלילית.
			</p>
			<p class="group-text" dir="rtl">
				אינך רשאי (ואינך רשאי להתיר לכל צד שלישי), אלא אם הדבר הותר במפורש על-פי תנאי שימוש אלה:
			</p>
			<p class="group-text" dir="rtl">
				(א) להשתמש באתר ו/או בתוכן לכל מטרה בלתי חוקית, בלתי מוסרית, בלתי-מורשית ו/או אסורה;
			</p>
			<p class="group-text" dir="rtl">
				(ב) להשתמש באתר ו/או בתוכן למטרות מסחריות או שאינן פרטיות, ללא הסכמה מפורשת של החברה בכתב ומראש;
			</p>
			<p class="group-text" dir="rtl">
				(ג) להסיר או להפריד מהתוכן ו/או מהאתר כל הגבלות וסימנים המציינים זכויות קנייניות של החברה או נותני הרישיון שלו, לרבות כל ההודעות הקנייניות המופיעות בהם (כגון ©, TMאו ®), והנך מצהיר ומתחייב בזאת כי תציית לכל החוקים החלים בעניין זה;
			</p>
			<p class="group-text" dir="rtl">
				(ד) להפר ו/או לפגוע בזכויות המשתמשים לפרטיות וזכויות אחרות, או לאסוף מידע אישי מזהה אודות משתמשים ללא הסכמתם המפורשת, בין אם באופן ידני או באמצעות שימוש בכל רובוט, עכביש, זחלן, כל יישום חיפוש או אחזור, או שימוש באמצעי, בתהליך או בשיטה ידניים או אוטומטיים אחרים על מנת להיכנס לאתר ולאחזר, לאסוף ו/או לשאוב מידע;
			</p>
			<p class="group-text" dir="rtl">
				(ה) לפגוע או לשבש בפעולת האתר או השרתים או הרשתות המאחסנות את האתר, או להפר כל חוק, תקנה, דרישה, נוהל או מדיניות של שרתים או רשתות כאמור;
			</p>
			<p class="group-text" dir="rtl">
				(ו) להצהיר הצהרות שקריות או להציג מצג שווא בנוגע לקשר שלך עם כל אדם או גוף, או לציין במפורש או במרומז כי החברה משויכת אליך בכל דרך שהיא, מעניקה חסות, תומכת בך, באתר שלך, בעסקך או בהצהרותיך, או להציג מידע שקרי או לא מדויק אודות האתר או החברה;
			</p>
			<p class="group-text" dir="rtl">
				(ז) לבצע כל פעולה היוצרת או העלולה ליצור עומס גדול ובלתי סביר על תשתית האתר;
			</p>
			<p class="group-text" dir="rtl">
				(ח) לעקוף את כל האמצעים בהם החברה משתמשת על מנת למנוע או להגביל את הגישה לאתר;
			</p>
			<p class="group-text" dir="rtl">
				(ט) להעתיק, לתקן, לשנות, להתאים, למסור, להנגיש, לתרגם, להפנות, לבצע הנדסה חוזרת, להמיר קוד בינארי לקוד פתוח, לעשות דה-קומפילציה, או להפריד כל חלק בתוכן או באתר, או להציג לציבור, ליצור יצירות נגזרות, לבצע, להפיץ, לתת רישיון משנה, לעשות כל שימוש מסחרי, למכור, להשכיר, להעביר, להלוות, לעבד, לאסוף, לשלב עם תוכנה אחרת – של כל חומר הכפוף לזכויות קנייניות של החברה, לרבות קניין רוחני של החברה (כהגדרתו של מונח זה להלן), בכל אופן או בכל אמצעי, אלא אם הדבר הותר במפורש בתנאים ו/או על-פי כל דין החל, המתיר פעולות אלו במפורש;
			</p>
			<p class="group-text" dir="rtl">
				(י) לעשות כל שימוש בתוכן בכל אתר אחר או רשת מחשבים, לכל מטרה, ללא הסכמה של החברה בכתב ומראש;
			</p>
			<p class="group-text" dir="rtl">
				(יא) ליצור סביבת דפדפן, לתחם (frame), ליצור העתק (mirror) או לבצע in-line linkingלכל חלק מהאתר ללא הרשאה מפורשת של החברה בכתב ומראש; (יב) למכור, לתת רישיון, או לנצל למטרה מסחרית כלשהי כל שימוש או גישה לאתר;
			</p>
			<p class="group-text" dir="rtl">
				(יג) ליצור מאגר מידע על-ידי הורדה ואחסון שיטתיים של כל או חלק מהתוכן;
			</p>
			<p class="group-text" dir="rtl">
				(יד) להעביר או להנגיש בכל דרך אחרת, בקשר לאתר או לתוכן, כל וירוס, “תולעת”, סוס טרויאני, באג, רוגלה, נוזקה, או כל קוד מחשב, קובץ או תוכנה אחרים אשר עשויים להזיק, או נועדו להזיק לפעילות של כל חומרה, תוכנה, ציוד תקשורת, קוד או רכיב; ו/או (טו) להפר אי אלו מהתנאים.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				פניה אלינו באמצעות האתר
			</h3>
			<p class="group-text" dir="rtl">
				על מנת לפנות לחברה באמצעות האתר, יהיה על המשתמש למלא טופס יצירת הקשר. עליך למסור מידע מדויק ומלא בטופס זה.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				מדיניות פרטיות
			</h3>
			<p class="group-text" dir="rtl">
				החברה מכבדת את הפרטיות של המשתמשים ומחויבת להגן על המידע האישי שהמשתמשים משתפים עמו. אנחנו מאמינים כי למשתמשים הזכות להכיר את המדיניות ואת הנהלים שלנו בנוגע לאיסוף ושימוש במידע המתקבל על-ידינו בשעה שהמשתמשים שלנו משתמשים באתר. מדיניות הפרטיות של החברה, הנהלים וסוגי המידע אשר נאספים על-ידי החברה מתוארים במדיניות הפרטיות של האתר המופיעה בלינק הבא:&nbsp;<span><object height="0"><a data-auto-recognition="true" href="https://www.slideo.co.il/privacy-policy" target="_blank">https://www.slideo.co.il/privacy-policy</a></object> .</span>
			</p>
			<p class="group-text" dir="rtl">
				הינך מסכים ומאשר כי החברה תעשה שימוש במידע אישי אשר הועבר ו/או הונגש לחברה בהתאם למדיניות הפרטיות. אם בכוונתך להשתמש באתר, עליך לקרוא תחילה ולהסכים למדיניות הפרטיות.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				זכויות קניין רוחני
			</h3>
			<p class="group-text" dir="rtl">
				האתר, התוכן והנכסים הקנייניים של החברה וכל זכויות קניין רוחני הנוגעות בהם, לרבות אך לא רק, פטנטים ובקשות לפטנטים, סימני מסחר ובקשות לסימני מסחר, שמות מסחר, מוניטין, זכויות יוצרים, סודות מסחר, שמות מתחם, בין אם רשומים או ניתנים לרישום ובין אם לאו (להלן, ביחד: “הקניין הרוחני“) הם בבעלות החברה ו/או נמסרו לה ברישיון ומוגנים על-ידי חוקי זכויות יוצרים וחוקי קניין רוחני אחרים ועל-ידי אמנות והסכמים בינלאומיים. כל זכות שלא הוקנתה לך במפורש על-פי הסכם זה תישמר בידי החברה ונותני הרישיון שלו.
			</p>
			<p class="group-text" dir="rtl">
				בכפוף לתנאים, החברה מעניקה לך זכות אישית הדירה, בלתי-ייחודית, בלתי-עבירה ואשר לא ניתן להעניק בה רישיונות-משנה להשתמש באתר, בתוכן ובשירותים הקשורים באתר בהם באופן שאינו מסחרי. למען הסר ספק, התנאים אינם מקנים לך זכות בקניין הרוחני של החברה, אלא אך ורק זכות שימוש מוגבלת וניתנת לביטול כאמור. אף הוראה בתנאים לא מהווה ויתור על קניינה הרוחני של החברה על-פי כל דין.
			</p>
			<p class="group-text" dir="rtl">
				היה ותספק לחברה משוב, פידבק, הערה או הצעה כלשהי לגבי האתר (“פידבק“), החברה תקבל רישיון בלעדי, ללא תמלוגים, תמידי, כלל עולמי ובלתי הדיר לשלב את הפידבק בכל המוצרים השירותים הנוכחיים או העתידיים של החברה, וכן תהיה זכאית להשתמש, ללא קבלת אישורך, בפידבק לכל מטרה שהיא וכל זאת מבלי להעניק לך כל תמורה. הנך מאשר כי הפידבק יחשב כמידע שאינו סודי. כמו כן, הנך מצהיר כי הפידבק אינו כפוף לתנאי רישיון אשר יש בהם כדי לחייב את החברה לעמוד בחובות נוספות בקשר למוצריו ו/או לשירותיו המשלבים את הפידבק.
			</p>
			<p class="group-text" dir="rtl">
				הנך מסכים בזאת כי יתכן שהחברה תשמור עותקים של מידע מסוים הנמסר על ידך לצרכי גיבוי או לצורך אכיפת התנאים, לרבות ביצוע בדיקות של הפרת התנאים לפי שיקול דעתה של החברה.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				סימני מסחר ושמות מסחרים
			</h3>
			<p class="group-text" dir="rtl">
				הלוגואים של החברה ושאר המזהים הקניינים המשמשים את החברה בקשר עם האתר או השירותים הניתנים במסגרתו (להלן: “סימני המסחר של החברה“) הם כולם סימני מסחר ו/או שמות מסחר של החברה, בין אם רשומים ובין אם לאו, ובין אם ניתנים לרישום ובין אם לאו. כל שאר סימני המסחר, שמות המסחר, סימנים מזהים אחרים וסמלים מסחריים אחרים (לרבות לוגו כזה או אחר) העשויים להופיע באתר שייכים לבעליהם (“סימני מסחר של צדדים שלישיים“). סימני מסחר של צדדים שלישיים מובאים באתר (אם בכלל) למטרות הצגה, תיאור וזיהוי בלבד. לא ניתנת בזאת כל זכות, רישיון או קניין בסימני המסחר של החברה או בסימני המסחר של צדדים שלישיים ולכן עליך להימנע משימוש כלשהו בסימנים אלו, אלא אם כן הותר אחרת בתנאי שימוש אלה.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				זמינות האתר
			</h3>
			<p class="group-text" dir="rtl">
				זמינות ופונקציונאליות האתר והשירותים הניתנים במסגרתו תלויה בגורמים רבים, לרבות תוכנה, חומרה, רשתות תקשורת, ספקי שירותים או קבלנים של החברה או צדדים שלישיים אחרים (לרבות אלה המספקים שירותי אחסון ענן, שירותי רישום לאתר ועוד). אנו נעשה מאמצים סבירים על מנת להבטיח שהאתר ושירותים אלה יהיו זמינים באופן רציף. יחד עם זאת, החברה לא תהיה אחראית, ואיננה מבטיחה או מתחייבת כי האתר והשירותים יפעלו ו/או יהיו זמינים בכל עת ללא הפרעות או תקלות, וכי יהיו ללא פגם. הנך מסכים בזאת כי החברה לא תהיה אחראית לאי היכולת של האתר לפעול או להיות נגיש, מכל סיבה שהיא; לרבות הפסקות בפעילות האינטרנט או רשתות, הפסקות בפעילות החומרה או התכנה בשל בעיות טכניות או אחרות שאינן בשליטת החברה (למשל, סיכול, כוח עליון, רשלנות של צדדים שלישיים וכד’). היה ותידרש תחזוקה לאתר באופן אשר ישפיע על זמינותו, עשויה החברה (אך לא חייבת) ליידע את המשתמשים על כך מבעוד מועד.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				שינויים באתר
			</h3>
			<p class="group-text" dir="rtl">
				החברה שומרת לעצמה את הזכות לבצע באתר תיקונים, הרחבות, שיפורים, התאמות וכל שינוי אחר ללא הודעה מוקדמת ובכל עת. הנך מאשר בזאת כי התוכן כפוף לשינויים ועשוי להיות מוסר מן האתר בכל עת, מבלי לתת לך כל הודעה על כך מראש. הנך מסכים כי החברה לא תהיה אחראית כלפיך או כלפי כל צד שלישי בגין כל שינוי, השעיה או הפסקת פעולת האתר או התוכן.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				קישורים לאתרי צדדים שלישיים
			</h3>
			<p class="group-text" dir="rtl">
				קישורים מסוימים המופיעים באתר מאפשרים למשתמשים לעזוב את האתר ולהיכנס לאתרים או לשירותים שאינם של החברה. אתרים ושירותים מקושרים אלה אינם בשליטת החברה וקישור להם מובא לנוחותך בלבד; החברה אינו אחראית לזמינותם, אינה מאשרת ואינה אחראית לגביהם, לרבות אך לא רק, לכל פרסומות, מוצרים או מידע אחר המופיע בהם או הזמין באמצעותם או לכל קישור המצוי בהם. כמו כן, החברה אינה אחראית למדיניות הפרטיות של האתרים או השירותים של צדדים שלישיים אלה, או לפרקטיקות אחרות הנהוגות על ידיהם. כניסתך, שימושך והסתמכותך על אלה והאינטראקציות שלך עם הצדדים השלישיים האמורים הינם באחריותך ועל חשבונך בלבד. החברה שומרת את הזכות למחוק כל קישור ובכל עת. כמו כן, הנך מסכים ומאשר כי החברה לא תהיה אחראית לכל נזק אשר נגרם, או לכאורה נגרם, בקשר עם או כתוצאה משימושך או הסתמכותך על תכנים, שירותים, מוצרים או פרסומות הזמינים באתרים או שירותים של צדדים שלישיים אלה. רוב האתרים והשירותים המקושרים מספקים מסמכים משפטיים, לרבות תנאי שימוש ומדיניות פרטיות, החלים על השימוש בהם. אנו ממליצים לך לקרוא מסמכים אלו בעיון לפני השימוש באתרים ושירותים אלו, בין היתר, על מנת להיות מודע לסוג המידע הנאסף לגביך.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				הפרת זכויות יוצרים ותוכן; תכנים פוגעניים
			</h3>
			<p class="group-text" dir="rtl">
				החברה מכבדת את זכויות הקניין הרוחני של צדדים שלישיים. אם הנך סבור כי זכויות הקניין הרוחני שלך הופרו, אנא מסור לחברה באמצעות כתובת הדואר האלקטרוני:
				<object height="0"><a data-auto-recognition="true" href="mailto:support@slideo.co.il">support@slideo.co.il</a></object>
				, מידע מספק בכתב, לרבות, בין היתר, (א) תיאור של היצירה המוגנת בזכויות יוצרים שלטענתך הופרה, (ב) תיאור של החומר שלטענתך מפר או מהווה בסיס להפרה, אשר יש להסירו או שהגישה אליו צריכה להיות מוגבלת, (ג) מידע אשר יאפשר לחברה לאתר את החומר האמור, ו- (ד) פרטי התקשרות על מנת שנוכל ליצור עמך קשר (כגון כתובת, מספר טלפון וכתובת דואר אלקטרוני). אנו נבדוק את בקשתך ונשתדל להשיבך בתוך פרק זמן סביר.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				הסרת אחריות
			</h3>
			<p class="group-text" dir="rtl">
				במידה המקסימאלית האפשרית על-פי דין, האתר והתוכן ניתנים למשתמשים “כמות שהם” (“AS IS”). בנוסף להחרגות האחריות הקבועות בתנאי שימוש אלה, על החברה, לרבות עובדיה, ספקיה, מנהליה, קבלני המשנה שלה, גורמים קשורים, נותני הרישיון שלה ושלוחיה (להלן, ביחד: “נציגי החברה”), אין כל אחריות או התחייבות מכל סוג שהוא (באופן מפורש או מכללא), לרבות אחריות לזכות בעלות או לאי הפרה או אחריות מכללא לאיכות מסחרית או להתאמה למטרה מסוימת, וכן אחריות הנובעת ממהלך העסקים הרגיל או פעולה מסחרית. ייתכן כי מוקנות לך זכויות צרכניות נוספות אשר אינן ניתנות לשינוי באמצעות תנאי שימוש אלה.
			</p>
			<p class="group-text" dir="rtl">
				החברה אינה מתחייבת (א) כי האתר והתוכן הנם או יהיו בטוחים לשימוש, מדויקים, מלאים, ללא תקלות או הפרעות, או נקיים מווירוסים, פגמים, תולעים, רכיבים מזיקים אחרים או הגבלות תוכנה אחרות, (ב) כי היא תתקן כל שגיאות, תקלות או פגמים באתר, ו/או (ג) כי תוצאות השימוש באתר ובתוכן יעמדו בדרישותיך או ציפיותיך.
			</p>
			<p class="group-text" dir="rtl">
				החברה לא תהיה אחראית לכל נזק, ישיר או עקיף, אשר עלול להיגרם עקב שיבושים ו/או טעויות אשר נפלו במידע המופיע באתר (לרבות שיבושי הגהה, ניסוח, טעויות סופר וכיו”ב).
			</p>
			<p class="group-text" dir="rtl">
				החברה לא תהיה אחראית לכל נזק אשר עלול להיגרם עקב הורדת תוכנות ו/או עקב שימוש בכל תוכנה שהורדה מהאתר.
			</p>
			<p class="group-text" dir="rtl">
				החברה לא תהיה אחראית לכל תוצאה הנובעת מתקלות טכניות (לרבות אך לא רק בקשר לקישוריות האינטרנט, עומס קו או שרתים, עיכובים והפרעות קשורים) והנובעות מספקי אינטרנט וטלקומוניקציה. הנך מסכים כי השימוש באתר ו/או בתוכן הנו באחריותך הבלעדית.
			</p>
			<p class="group-text" dir="rtl">
				האחריות בגין כל פעולה ו/או תוצאה עסקית של המשתמשים ו/או בגין קבלת החלטה עסקית של המשתמשים, בין אם הן מתבססות על התוצרים שהפיקו באתר ובין אם לאו, הינה של המשתמשים באופן מלא ובלעדי, והמשתמשים מוותרים בזאת על כל טענה, דרישה ו/או תביעה כנגד החברה ו/או מי מטעמה בקשר לכך.
			</p>
			<p class="group-text" dir="rtl">
				היה וסמכויות שיפוט מסוימות אינן מאפשרות החרגות או הגבלות כאמור לעיל, ההחרגות וההגבלות הנזכרות לעיל לא תחולנה במלואן, אלא רק במידה המקסימאלית המותרת על-פי הדין החל.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				מדיניות השימוש בעוגיות (“Cookies”) וטכנולוגיות אחרות
			</h3>
			<p class="group-text" dir="rtl">
				בעת השימוש באתר ו/או כחלק מהליך הגעתך לאתר, לרבות באמצעות קמפיינים שיווקיים שלנו ברשתות החברתיות, אנו עשויים להשתמש בטכנולוגיות מקובלות ומוכרות בתעשייה כגון “עוגיות” (cookies) (“עוגיות”).
			</p>
			<p class="group-text" dir="rtl">
				העוגיות נשמרות על גבי מכשירך ומאפשרות לנו להפעיל מאפיינים מסוימים באופן אוטומטי, וכן להקל ולפשט את חוויית השימוש באתר. ניתן לנטרל את העוגיות. למשל, מרבית דפדפני האינטרנט מאפשרים למשתמשים למחוק עוגיות ממכשירי המשתמשים, לחסום קבלה של עוגיות או לקבל התראות לפני אחסונן של עוגיות. עם זאת, יש לשים לב כי במידה והמשתמשים ימחקו את העוגיות או לא יאפשרו את אחסונן, החוויה המקוונת של המשתמשים דרך האתר עשויה להיפגע. אנא עיינו בהוראות אשר מצויות בדפדפן שלכם או במסך ה”עזרה” על מנת ללמוד עוד על פונקציות אלה.
			</p>
			<p class="group-text" dir="rtl">
				השימוש בטכנולוגיות אחרות מאפשר לנו למדוד את התגובות לפעילויות שאנו מציעים על דפי האתר ולשפר את דפי האתר ומאמצי השיווק שלנו, באמצעות פילוח וניתוח של מידע לא אישי המסופק לנו באמצעותן.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				הגבלת אחריות
			</h3>
			<p class="group-text" dir="rtl">
				במידה המקסימאלית האפשרית על-פי דין, החברה, לרבות נציגי החברה, לא יהיו אחראים לכל נזקים, מכל סוג שהוא, לרבות, נזקים ישירים, עקיפים, מיוחדים, עונשיים, אגביים או תוצאתיים (לרבות, מבלי לגרוע מכלליות האמור, נזק למוניטין, לרווחים, למידע, או לעסקים), על-פי כל עילה משפטית (לרבות אך לא רק, חוזית, נזיקית, אחריות קפידה או אחרת) הנובעים מתנאי שימוש אלה, מהאתר ו/או מהתוכן, משימושך או מאי-יכולתך להשתמש באתר ו/או בתוכן, או מכל מעשה או מחדל של החברה המבוסס על הפרת המצגים או ההתחייבויות של החברה הנובעים או הקשורים בתנאים; והכל בין אם נודע לחברה על האפשרות שנזק כאמור עלול להיגרם ובין אם לאו. מבלי לגרוע מכלליות האמור לעיל, ובמידה המקסימאלית האפשרית על-פי דין, החבות המצטברת של החברה ונציגי החברה עבור כל הנזקים הנובעים מתנאי שימוש אלה או בנוגע לשימושך באתר או בתוכן, תוגבל לסכום של מאה (100) שקלים חדשים.
			</p>
			<p class="group-text" dir="rtl">
				היה וסמכויות שיפוט מסוימות אינן מאפשרות החרגות או הגבלות כאמור לעיל, ההחרגות וההגבלות הנזכרות לעיל לא תחולנה במלואן, אלא רק במידה המקסימאלית המותרת על-פי הדין החל.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				שיפוי
			</h3>
			<p class="group-text" dir="rtl">
				הנך מסכים להגן ולשפות את החברה ואת נציגי החברה מפני ונגד כל תביעה, נזק, הפסד, התחייבות, אחריות, הוצאה וחוב (לרבות אך לא רק, שכר טרחת עורך דין) אשר נובעים מ: (א) שימושך באתר ו/או בתוכן שלא בהתאם לתנאי שימוש אלה; (ב) כל הפרה מצדך של תנאי שימוש אלה; (ג) הפרה מצדך של כל זכות של צד שלישי, לרבות אך לא רק, זכויות קניין רוחני או הזכות לפרטיות; ו-(ד) כל נזק מכל סוג שהוא, בין אם נזק ישיר, עקיף, מיוחד או תוצאתי, שגרמת לצד שלישי אשר קשור לשימושך באתר או בתוכן. מובהר בזאת כי חובת השיפוי האמורה תחול אף לאחר סיום שימושך באתר.
			</p>
			<p class="group-text" dir="rtl">
				מבלי לגרוע מכלליות האמור לעיל, אנו שומרים את הזכות הבלעדית לנהל את ההגנה והשליטה הבלעדית בכל עניין והליך הקשור בשיפוי מצדך, באופן שאינו גורע מחובתך זו, והמחייב אותך לשתף פעולה מלאה איתנו בניהול הליך כאמור. הנך מאשר כי לא תסכים לפשרה בכל עניין הכפוף לשיפוי על ידך מבלי לקבל לכתחילה את הסכמתנו בכתב לכך.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				שינויים בתנאי השימוש
			</h3>
			<p class="group-text" dir="rtl">
				החברה רשאית, על-פי שיקול דעתה הבלעדי, לשנות את התנאים מעת לעת ומבקשת מכלל המשתמשים לשוב ולבקר בדף זה לעיתים קרובות ככל האפשר. נודיע לך על כל שינוי מהותי בתנאי השימוש, על-ידי החלפת הקישור ל”תנאי השימוש” בעמוד הבית של האתר בקישור ששמו “תנאי השימוש מעודכנים ליום ____” ו/או על-ידי משלוח דואר אלקטרוני לכתובת הדואר האלקטרוני אותה יתכן והעברת לחברה במסגרת השימוש באתר.שינויים מהותיים אלה יכנסו לתוקף תוך שבעה (7) ימים ממועד ההודעה כאמור. כל שאר השינויים בתנאי השימוש ייכנסו לתוקף בתאריך העדכון האחרון, והמשך השימוש שלך באתר לאחר תאריך העדכון האחרון הנקוב יהווה הסכמה שלך לכך שהשינויים יחייבו אותך. במידה ונצטרך לשנות את התנאים על מנת לעמוד בדרישות הדין, שינויים אלה יכנסו לתוקף באופן מידי או כנדרש על-פי דין, וזאת ללא מתן הודעה מוקדמת.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				הפסקת פעילות האתר וסיום התנאים
			</h3>
			<p class="group-text" dir="rtl">
				החברה רשאית, בכל עת, לחסום את גישתך לאתר ו/או להגביל באופן קבוע את גישתך לאתר, על-פי שיקול דעתה הבלעדי, בנוסף לכל סעד אחר העשוי לעמוד לרשות החברה על-פי כל דין. בנוסף, החברה רשאית בכל עת, על-פי שיקול דעתה הבלעדי, להפסיק את פעילות האתר, באופן זמני או לצמיתות, מבלי לתת כל הודעה מוקדמת. הנך מסכים ומאשר כי החברה לא תהיה אחראית לאובדן מידע ו/או נזקים כלשהם הנובעים או הקשורים בהחלטתה להפסיק או להשהות את פעילות האתר.
			</p>
			<p class="group-text" dir="rtl">
				הוראות תנאי שימוש אלה, אשר על-פי טבען שורדות את סיום השימוש באתר בכדי לקיים את מטרות התנאים יישארו בתוקף. מבלי לגרוע מכלליות האמור לעיל, הסעיפים בדבר קניין רוחני, הסרת אחריות, הגבלת אחריות, שיפוי וסעיף “כללי” ימשיכו לחול אף לאחר סיום השימוש באתר.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				כללי
			</h3>
			<p class="group-text" dir="rtl">
				(א) תנאי שימוש אלה ממצים את מלוא ההבנות והתנאים שהוסכמו בינך לבין החברה בקשר לנושאים המופיעים בתנאים אלה, והם גוברים על כל הסכמות אחרות, קודמות או תקפות, בכתב או בעל פה, בינך לבין החברה, (ב) כל תביעה בקשר לאתר או לשימוש בו תהיה כפופה לחוקי מדינת ישראל, ותתפרש על-פי חוקים אלה (מבלי ליתן תוקף לכללי ברירת הדין הבינלאומי הקבועים בהם), לתשומת ליבך לכך שיתכן שהשימוש בידע המצוי באתר, הסתמכות עליו ופעולה לפיו, עלולה להיות מוגבלת ואף בלתי חוקית לפי דיני מדינות שונות, ולכן על המשתמשים לבדוק, קודם השימוש במידע, אם לפי הדין החל עליהם הם זכאים להשתמש בו, ומה מידת השימוש המותרת, (ג) כל מחלוקת אשר תנבע או תהיה קשורה לשימוש שלך באתר תובא לדיון בבתי המשפט המוסמכים במחוז תל אביב, ישראל, ואתה מסכים בזאת לסמכות השיפוט הייחודית והמקומית של בתי משפט אלה. הנך מסכים לוותר על כל ההגנות בדבר היעדר סמכות שיפוט פרסונלית ופורום לא נאות, ומסכים כי כתבי בית דין יומצאו באופן המותר על-פי הדין החל ו/או על-פי החלטת בית משפט. על אף האמור לעיל, החברה רשאית לבקש מתן צווי מניעה בכל בית משפט מוסמך, (ד) תנאי שימוש אלה אינם יוצרים ולא יתפרשו כאילו הם יוצרים יחסי שותפות, מיזם משותף, יחסי עובד-מעסיק, יחסי שליחות או יחסי נותן-מקבל זיכיון בין הצדדים, (ה) שום ויתור של מי מהצדדים על כל הפרה או מחדל על-פי הסכם תנאים אלה זה לא ייחשב כוויתור על כל הפרה או מחדל, בין אם קודמים או מאוחרים יותר, (ו) כל כותרת של סעיף או כל כותרת אחרת בתנאים אלה מובאת לצורכי נוחות בלבד, ואיננה מגדירה או מבארת כל סעיף או הוראה הכלולים בתנאים אלה, (ז) הנך מאשר ומסכים כי כל עילת תביעה שעשויה להיות לך, הנובעת מהאתר או הנוגעת לו, תעמוד לך במשך שנה אחת (1) מיום קרות האירוע. לאחר תקופה זו, מוסכם בזאת בין הצדדים כי עילת תביעה זו תתיישן, (ח) היה וייקבע על ידי גוף מוסמך כי הוראה כלשהי מתנאי שימוש אלה אינה חוקית, בטלה או שמכל סיבה שהיא אין אפשרות לאוכפה, אזי יראו הוראה זו כהוראה שניתן להגבילה או להפרידה מתנאים אלה, וההוראה האמורה (במידה המקסימאלית האפשרית על-פי דין) לא תשפיע על התוקף והאפשרות לאכוף הוראה כלשהי מבין ההוראות הנותרות של תנאים אלה, (ט) אינך רשאי להמחות, להעניק רישיון-משנה או להעביר באופן אחר את זכויותיך או את התחייבויותיך, כולן או מקצתן, על-פי תנאים אלה ללא הסכמתנו מראש ובכתב. הננו רשאים להמחות או להעביר את התחייבויותינו על-פי תנאים אלה ללא הגבלה וללא הודעה על כך, (י) אתה מסכים, מבלי להגביל, כי גרסה מודפסת של תנאים אלה תהיה ראיה קבילה בהליכים שיפוטיים או מנהליים אשר יתבססו על תנאים אלה, או בקשר אליהם, באותה מידה ובכפוף לאותם תנאים כמו מסמכים ורשומות עסקיים אחרים אשר הופקו במקור ונשמרו בגרסה מודפסת.
			</p>
			<br>
			<h3 class="group-header" dir="rtl">
				שאלות
			</h3>
			<p class="group-text" dir="rtl">
				במידה ויש לך שאלות נוספות או הערות בנוגע לתנאים, הינך מוזמן לפנות אלינו באמצעות דואר אלקטרוני בכתובת:
				<u><object height="0"><a data-auto-recognition="true" href="mailto:support@slideo.co.il">support@slideo.co.il</a></object></u>
				. אנו נעשה את מירב המאמצים לחזור אליך תוך זמן סביר.
			</p>
			<br><br><br>
</div>
{% endblock %}