<div class="footer">
  <button class="btn btn-basic d-md-inline d-none tray-btn horizontal-text-clip">{% trans %}Help Us Improve!{% endtrans %}</button>
  <button id="FeedbackBtn" class="btn btn-secondary d-md-inline d-none tray-btn bevel-btn  horizontal-text-clip">{% trans %}Got Feedback?{% endtrans %}</button>
</div>
