<div id="NoResponsiveSupport" class="NoResponsiveCentered t-align-center">
  <object class="w-19rem" data="/img/svgIcon.svg"></object>
  <h3 >{% trans %}Please Rotate Your Device{% endtrans %}</h3>
</div> 
